<div class="row">
	<div class="col-md-12 mb-3">
		<%= f.label(:preference_id, "Preferencia", class:"create-edit-form-label") %>
		<%= f.select(:preference_id, options_for_select(Preference.ids)) %>
	</div>
</div>

<div class="row">

	<div class="col-3 mb-3">
		<%= f.label(:lodging, "Alojamiento", class:"create-edit-form-label") %>
		<%= f.check_box :lodging, class:"create-edit-form-checkbox", autofocus: true %>
	</div>

	<div class="col-3 mb-3">
		<%= f.label(:gastronomy, "Gastronomía", class:"create-edit-form-label") %>
		<%= f.check_box :gastronomy, class:"create-edit-form-checkbox", autofocus: true %>
	</div>

	<div class="col-3 mb-3">
		<%= f.label(:activities, "Actividades", class:"create-edit-form-label") %>
		<%= f.check_box :activities, class:"create-edit-form-checkbox", autofocus: true %>
	</div>
</div>
