<div class="row">
	<div class="col-md-12 mb-3">
		<%= f.label(:preference_id, "Preferencia", class:"create-edit-form-label") %>
		<%= f.select(:preference_id, options_for_select(Preference.ids)) %>
	</div>
</div>

<div class="row">

	<div class="col-3 mb-3">
		<%= f.label(:beach, "Playa", class:"create-edit-form-label") %>
		<%= f.check_box :beach, class:"create-edit-form-checkbox", autofocus: true %>
	</div>

	<div class="col-3 mb-3">
		<%= f.label(:nature, "Naturaleza", class:"create-edit-form-label") %>
		<%= f.check_box :nature, class:"create-edit-form-checkbox", autofocus: true %>
	</div>

	<div class="col-3 mb-3">
		<%= f.label(:tourism, "Turismo", class:"create-edit-form-label") %>
		<%= f.check_box :tourism, class:"create-edit-form-checkbox", autofocus: true %>
	</div>
</div>