<div class="row">
	<div class="col-md-6 mb-3">
		<%= f.label(:name, "Nombre", class:"create-edit-form-label") %>
		<%= f.text_field :name, class:"create-edit-form-input", autofocus: true, required: true %>
	</div>

	<div class="col-md-6 mb-3">
		<%= f.label(:phone_number, "Teléfono", class:"create-edit-form-label") %>
		<%= f.text_field :phone_number, class:"create-edit-form-input", autofocus: true, required: true %>
	</div>
</div>


<div class="row">
	<div class="col-md-6 mb-3">
		<%= f.label(:logo, "Logo de la Agencia", class:"create-edit-form-label") %>
		<%= f.text_field :logo, class:"create-edit-form-input", autofocus: true, required: true %>
	</div>

	<div class="col-md-6 mb-3">
		<%= f.label(:url, "URL Agencia", class:"create-edit-form-label") %>
		<%= f.text_field :url, class:"create-edit-form-input", autofocus: true, required: true %>
	</div>
</div>

<div class="row">
	<div class="col-md-12 mb-3">
		<%= f.label(:description, "Descripción", class:"create-edit-form-label") %>
		<%= f.text_field :description, class:"create-edit-form-input", autofocus: true %>
	</div>
</div>