<%= render "layouts/sidebar" %>

<section>
  <div class="admin-main" id="users">
    <h2 class="admin-model-title"><strong>Administración de agencias</strong></h2>

    <div class="admin-new-panel">
      <div class="row ">
        <div class="col-8 admin-search">
          <%= form_tag admin_agencies_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], class:"admin-search-bar", placeholder:"Búsqueda por agencia..." %>
            <%= button_tag(type: 'submit', class: "admin-search-button") do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>

        <div class="col-4">
          <%= form_tag import_admin_agencies_path, multipart: true, class: "form-inline" do %>
            <div class="row">
              <div class="col-4 import-form-btn text-center">
                <%= link_to "Añadir agencia", new_admin_agency_path, class: "import-form-btn-link" %>
              </div>
              <div class="col-4 import-form-btn text-center">
                <%= link_to "Exportar CSV", admin_agencies_path(format: :csv), class: "import-form-btn-link" %>
              </div>
              <div class="col -4 text-center">
                <%= submit_tag "Importar agencias", class:"import-form-submit-btn" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <table class="admin-model-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Nº Viajes</th>
          <th>Administración</th>
        </tr>
      </thead>

      <tbody>
        <% @agencies.each do |agency| %>
          <tr>
            <td>
              <% if agency.logo %>
                <%= image_tag(agency.logo) %> <%= agency.name %>
              <% else %>
                <%= image_tag("user.jpeg") %> <%= agency.name %>
              <% end %>
            </td>
            <td><%= agency.phone_number %></td>
            <td><%= agency.trips.size %></td>

            <td>
              <div class="row justify-content-center">
                <div class="col-2">
                  <%= link_to edit_admin_agency_path(agency), title:"Editar" do %>
                    <i class="fas fa-briefcase"></i>
                  <% end %>
                </div>

                <div class="col-2">
                  <%= button_to admin_agency_path(agency), method: :delete, class:"admin-delete-button", title:"Eliminar" do %> 
                    <i class="fas fa-briefcase admin-delete"></i>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</section>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "admin" %>
<% end %>
