<div class="row">
	<div class="col-md-6 mb-3">
		<%= f.label(:name, "Nombre", class:"create-edit-form-label") %>
		<%= f.text_field :name, class:"create-edit-form-input", autofocus: true, required: true %>
	</div>

	<div class="col-md-6 mb-3">
		<%= f.label(:surname, "Apellidos", class:"create-edit-form-label") %>
		<%= f.text_field :surname, class:"create-edit-form-input", autofocus: true, required: true %>
	</div>
</div>

<div class="row">
	<div class="col-md-6 mb-3">
		<%= f.label(:password, "Contraseña", class:"create-edit-form-label") %>
		<%= f.password_field :password, class:"create-edit-form-input", autofocus: true, required: true %>
	</div>

	<div class="col-md-6 mb-3">
		<%= f.label(:password_confirmation, "Confirmar contraseña", class:"create-edit-form-label") %>
		<%= f.password_field :password_confirmation, class:"create-edit-form-input", autofocus: true, required: true %>
	</div>
</div>


<div class="row">
	<div class="col-md-8 mb-3">
		<%= f.label(:email, "Email", class:"create-edit-form-label") %>
		<%= f.email_field :email, class:"create-edit-form-input", autofocus: true, required: true %>
	</div>

	<div class="col-md-4 mb-3">
		<%= f.label(:admin, "Rol Admin?", class:"create-edit-form-label") %>
		<%= f.check_box :admin, class:"create-edit-form-checkbox", autofocus: true %>
	</div>
</div>

