<section>
	<div class="admin-main" id="users">
    <h2 class="admin-model-title"><strong>Administración de usuarios</strong></h2>

    <div class="admin-new-panel">
      <div class="row ">
        <div class="col-8 admin-search">
          <%= form_tag admin_users_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], class:"admin-search-bar", placeholder:"Búsqueda por usuario..." %>
            <%= button_tag(type: 'submit', class: "admin-search-button") do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>

        <div class="col-2 admin-new-element">
          <%= link_to new_admin_user_path do %>
            <i class="fas fa-user-plus">   Añadir usuario</i>
          <% end %>
        </div>

        <div class="col-2 admin-new-element">
          <i class="fas fa-users">   Importar usuarios</i>
        </div>
      </div>
    </div>

    <table class="admin-model-table">
      <thead>
        <tr>
          <th>Rol del usuario</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Nº Viajes</th>
          <th>Administración</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <% if user.admin? %>
                <i class="fas fa-user-tie rounded-circle users-admin-icon">   Admin</i>
              <% else %>
                <i class="fas fa-user-tie rounded-circle users-user-icon">   Usuario</i>
              <% end %>
            </td>
            <td>
              <%= user.name %> <%= user.surname %>
            </td>
            <td><%= user.email %></td>
            <td><%= user.trips.size %>
            <td>
              <div class="row justify-content-center">
                <div class="col-2">
                  <%= link_to edit_admin_user_path(user), title:"Editar" do %>
                    <i class="fas fa-user-edit"></i>
                  <% end %>
                </div>

                <div class="col-2">
                  <% if user != current_user %>
                    <%= button_to admin_user_path(user), method: :delete, class:"admin-delete-button", title:"Eliminar" do %> 
                      <i class="fas fa-user-times admin-delete"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</section>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "admin" %>
<% end %>