<%= render "layouts/sidebar" %>

<section>
  <div class="create-edit-styled-box">
    <h2 class="create-edit-header">Editar Encuesta</h2>
    <%= form_for(@survey, url: admin_survey_path(@survey)) do |f| %>
      <%= render partial: "survey_form_fields", :locals => {:f => f} %>
      <div class="actions-btns">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 text-center create-edit-form-cancel-btn">
                <%= link_to "Volver", :back, class: "create-edit-form-cancel-link" %>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 text-center ">
                <%= f.submit "Guardar cambios", class: "create-edit-form-submit-btn" %>
            </div>
          </div>
        </div>
        <% end %>
    </div>
</section>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "admin" %>
<% end %>