<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag "local/zytrip-transparent-footer-2.png", class:"header-logo" %> Zytrip
    <% end %> 

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to 'Nuestros viajes', trips_path, class: "nav-link header-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Acerca de Zytrip', about_path, class: "nav-link header-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Guía y preguntas frecuentes', guide_path, class: "nav-link header-link" %>
      </li>
    </ul>
  </div>

  <% if session[:theme] == "light" %>
    <%= link_to root_path(theme: "dark") do %>
      <i class="fas fa-moon" style="color: #aea7b0;"></i>
    <% end %>
  <% else %>
    <%= link_to root_path(theme: "light") do %>
      <i class="fas fa-sun" style="color: #e8d247;"></i>
    <% end %>
  <% end %>

  <div class="d-flex align-items-center" style="margin-right: 2%; margin-left: 1%;">
    <ul class="navbar-nav">
      <% if user_signed_in?%>
        <% if current_user.admin == true %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administrador
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li>
                <%= link_to 'Admin dashboard', admin_dashboards_dashboard_path, class: 'dropdown-item' %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li>
                <%= link_to 'Mi perfil', users_profile_path(current_user), class: 'dropdown-item' %>
              </li>
              <li>
                <%= link_to 'Crear Viaje', new_trip_path, class: 'dropdown-item' %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </li>
            </ul>
          </li>

        <% end %>

      <% else %>
        <form class="d-flex">
          <li class="nav-item">
            <%= link_to 'Registrarse', new_user_registration_path, class: 'nav-link' %>
            
          </li>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
        </form>

      <% end %>
    </ul>
  </div>
</nav>