<section class="sidebar">
  <div class ="sidebar-title">
    <h1>ZyTrip</h1>
  </div>

  <hr>

  <div class="sidebar-menu">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item sidebar-item">
        <%= link_to admin_dashboards_landing_path, class: 'sidebar-nav-link' do %>
          <i class="fad fa-home"><strong class="sidebar-nav-opt"> Home</strong></i>
        <% end %>
      </li>

      <li class="nav-item sidebar-item">
        <%= link_to admin_dashboards_dashboard_path, class: 'sidebar-nav-link' do %>
          <i class="fad fa-chart-bar"><strong class="sidebar-nav-opt">Dashboard</strong></i>
        <% end %>
      </li>

      <li class="nav-item sidebar-item">
        <%= link_to admin_users_path, class: 'sidebar-nav-link' do %>
          <i class="fad fa-users"><strong class="sidebar-nav-opt">Usuarios</strong></i>
        <% end %>
      </li>

      <li class="nav-item sidebar-item">
        <%= link_to admin_agencies_path, class: 'sidebar-nav-link' do %>
          <i class="fas fa-briefcase"><strong class="sidebar-nav-opt"> Agencias</strong></i>
        <% end %>
      </li>

      <li class="nav-item sidebar-item">
        <%= link_to admin_trips_path, class: 'sidebar-nav-link' do %>
          <i class="far fa-plane"><strong class="sidebar-nav-opt"> Viajes</strong></i>
        <% end %>
      </li>
    </ul>
  </div>

  <hr>

  <div class="sidebar-footer">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user-tie rounded-circle me-2"></i>
        <strong>Administrador</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </div>
</section>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>