<%= render "layouts/sidebar" %>
<section>
  <div class="admin-main" id="trips">

    <div class="admin-new-panel">
      <div class="row ">
        <div class="col-6 admin-model-title">
          <strong>Viajes</strong>
        </div>

        <div class="col-6">
          <%= form_tag import_admin_trips_path, multipart: true, class: "form-inline" do %>
            <div class="row">
              <div class="col import-form-btn text-center">
                <%= link_to "Añadir viaje", new_admin_trip_path, class: "import-form-btn-link" %>
              </div>
              <div class="col import-form-btn text-center">
                <%= link_to "Exportar CSV", admin_trips_path(format: :csv), class: "import-form-btn-link" %>
              </div>
              <div class="col text-center">
                <%= submit_tag "Importar viajes", class:"import-form-submit-btn" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!--<div class="row justify-content-center">
      <div class="col-4 text-center admin-search-bar-container">
        <%= form_tag admin_trips_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], class:"admin-search-bar", placeholder:"Búsqueda por viaje..." %>
          <%= button_tag(type: 'submit', class: "admin-search-button") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>-->

    <table class="admin-model-table">
      <thead>
        <tr>
          <th>Viaje</th>
          <th>Organizador(id)</th>
          <th>Precio</th>
          <th>Nº Usuarios</th>
          <th>Valoración</th>
          <th>Administración</th>
        </tr>
      </thead>

      <tbody>
        <% @trips.each do |trip| %>
          <tr>
            <td><%= trip.title %></td>
            <td><%= trip.organizer_id %></td>
            <td><%= trip.price %></td>
            <td><%= trip.users.size %></td>
            <td>
              <% trip.rating.round().times do  %>
                <i class="fas fa-star"></i>
              <% end %>

              <% (5 - trip.rating.round()).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </td>
            <td>
              <div class="row justify-content-center">
                <div class="col-2">
                  <%= link_to edit_admin_trip_path(trip), title:"Editar viaje" do %>
                    <i class="fas fa-plane-departure"></i>
                  <% end %>
                </div>

                <div class="col-2">
                  <%= button_to admin_trip_path(trip), method: :delete, class:"admin-delete-button", title:"Eliminar viaje" do %> 
                    <i class="fas fa-plane-slash admin-delete"></i>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</section>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "admin" %>
<% end %>