<div class="main-survey main-survey-img">
	<div class="survey-title">
		<p>Ayúdanos a encontrar tu viaje ideal</p>
	</div>


	<div class="row">
		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("earth.png") %> ¿Dónde te gustaría viajar?</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="europe" type="checkbox" id="europe", onclick="checkEurope()"><label>Europa</label><br>
				<input name="africa" type="checkbox" id="africa", onclick="checkAfrica()"><label>Africa</label><br>
				<input name="america" type="checkbox" id="america", onclick="checkAmerica()"><label>America</label><br>
				<input name="asia" type="checkbox" id="asia", onclick="checkAsia()"><label>Asia</label><br>
				<input name="oceania" type="checkbox" id="oceania", onclick="checkOceania()"><label>Oceania</label><br>
			</div>

		</div>

		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("friends.png") %> Compañía para tu viaje</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="family" type="checkbox" id="family", onclick="checkFamily()"><label>Viaje Familiar</label><br>
				<input name="romantic" type="checkbox" id="romantic", onclick="checkLove()"><label>Escapada Romántica</label><br>
				<input name="alone" type="checkbox" id="alone", onclick="checkAlone()"><label>Me gustaría viajar solo</label><br>
				<input name="friends" type="checkbox" id="friends", onclick="checkFriends()"><label>Viaje con amigos</label><br>
				<input name="people" type="checkbox" id="people", onclick="checkPeople()"><label>Quiero conocer gente</label><br>
			</div>
		</div>

		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("wallet.png") %> Presupuesto deseable</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="maxp300" type="checkbox" id="maxp300", onclick="checkPriceMax300()"><label>Menos de 300€</label><br>
				<input name="betwp35" type="checkbox" id="betwp35", onclick="checkPriceBetw35()"><label>Entre 300 y 500€</label><br>
				<input name="betwp510" type="checkbox" id="betwp510", onclick="checkPriceBetw510()"><label>Entre 500 y 1000€</label><br>
				<input name="minp1000" type="checkbox" id="minp1000", onclick="checkPriceMin1000()"><label>Más de 1000€</label><br>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("duration.png") %> Duración de tu viaje</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="maxd3" type="checkbox" id="maxd3", onclick="checkDurationMax3()"><label>Menos de 3 días</label><br>
				<input name="betwd35" type="checkbox" id="betwd35", onclick="checkDurationBetw35()"><label> Entre 3 y 5 días</label><br>
				<input name="betwd510" type="checkbox" id="betwd510", onclick="checkDurationBetw510()"><label>Entre 5 y 7 días €</label><br>
				<input name="minweek" type="checkbox" id="minweek", onclick="checkMinWeek()"><label>Más de una semana</label><br>
			</div>
		</div>

		<div class="col col-lg-3 survey-container">
			Prueba 5
		</div>

		<div class="col col-lg-3 survey-container">
			Prueba 6
		</div>
	</div>

</div>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "survey.js" %>
<% end %>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>