<%= render "layouts/header" %>
<div class="main-survey main-survey-img">
	<div class="survey-title">
		<p>Ayúdanos a encontrar tu viaje ideal</p>
	</div>


	<div class="row">
		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("earth.png") %> ¿Dónde te gustaría viajar?</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="europe" type="checkbox" id="europe", onclick="checkEurope()"><label>Europa</label><br>
				<input name="africa" type="checkbox" id="africa", onclick="checkAfrica()"><label>Africa</label><br>
				<input name="america" type="checkbox" id="america", onclick="checkAmerica()"><label>America</label><br>
				<input name="asia" type="checkbox" id="asia", onclick="checkAsia()"><label>Asia</label><br>
				<input name="oceania" type="checkbox" id="oceania", onclick="checkOceania()"><label>Oceania</label><br>
			</div>

		</div>

		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("friends.png") %> Compañía para tu viaje</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="family" type="checkbox" id="family", onclick="checkFamily()"><label>Viaje Familiar</label><br>
				<input name="romantic" type="checkbox" id="romantic", onclick="checkLove()"><label>Escapada Romántica</label><br>
				<input name="alone" type="checkbox" id="alone", onclick="checkAlone()"><label>Me gustaría viajar solo</label><br>
				<input name="friends" type="checkbox" id="friends", onclick="checkFriends()"><label>Viaje con amigos</label><br>
				<input name="people" type="checkbox" id="people", onclick="checkPeople()"><label>Quiero conocer gente</label><br>
			</div>
		</div>

		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("wallet.png") %> Presupuesto deseable</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="maxp300" type="checkbox" id="maxp300", onclick="checkPriceMax300()"><label>Menos de 300€</label><br>
				<input name="betwp35" type="checkbox" id="betwp35", onclick="checkPriceBetw35()"><label>Entre 300 y 500€</label><br>
				<input name="betwp510" type="checkbox" id="betwp510", onclick="checkPriceBetw510()"><label>Entre 500 y 1000€</label><br>
				<input name="minp1000" type="checkbox" id="minp1000", onclick="checkPriceMin1000()"><label>Más de 1000€</label><br>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("duration.png") %> Duración de tu viaje</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="maxd3" type="checkbox" id="maxd3", onclick="checkDurationMax3()"><label>Menos de 3 días</label><br>
				<input name="betwd35" type="checkbox" id="betwd35", onclick="checkDurationBetw35()"><label> Entre 3 y 5 días</label><br>
				<input name="betwd57" type="checkbox" id="betwd57", onclick="checkDurationBetw57()"><label>Entre 5 y 7 días</label><br>
				<input name="minweek" type="checkbox" id="minweek", onclick="checkDurationMinWeek()"><label>Más de una semana</label><br>
			</div>
		</div>

		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("beach.png") %> Interés principal</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="tourism" type="checkbox" id="tourism", onclick="checkTourism()"><label>Turismo y cultura</label><br>
				<input name="beach" type="checkbox" id="beach", onclick="checkBeach()"><label>Playa</label><br>
				<input name="nature" type="checkbox" id="nature", onclick="checkNature()"><label>Naturaleza</label><br>
			</div>

		</div>

		<div class="col col-lg-3 survey-container">
			<p class="survey-container-title"><%= image_tag("eating.png") %> Si pudieses destacar una...</p>
			<hr><br>
			<div class="survey-container-options">
				<input name="lodging" type="checkbox" id="lodging", onclick="checkLodging()"><label>Una buena habitación</label><br>
				<input name="gastronomy" type="checkbox" id="gastronomy", onclick="checkGastronomy()"><label>Me quedo con la gastronomía</label><br>
				<input name="activities" type="checkbox" id="activities", onclick="checkActivities()"><label>Variedad de actividades</label><br>
			</div>
		</div>
	</div>

</div>

<!--  Funciones JavaScript -->

<script type="text/javascript">

	/////////////////////////////////////////////
	// Destiny functions
	/////////////////////////////////////////////

    function checkEurope() {
	    if(document.getElementById("europe").checked){
	        document.getElementById("africa").checked = false;
	        document.getElementById("asia").checked = false;
	        document.getElementById("america").checked = false;
	        document.getElementById("oceania").checked = false;
	    }
	}

	function checkAfrica() {
	    if(document.getElementById("africa").checked){
	        document.getElementById("europe").checked = false;
	        document.getElementById("asia").checked = false;
	        document.getElementById("america").checked = false;
	        document.getElementById("oceania").checked = false;
	    }
	}

	function checkAsia() {
	    if(document.getElementById("asia").checked){
	        document.getElementById("africa").checked = false;
	        document.getElementById("europe").checked = false;
	        document.getElementById("america").checked = false;
	        document.getElementById("oceania").checked = false;
	    }
	}

	function checkAmerica() {
	    if(document.getElementById("america").checked){
	        document.getElementById("africa").checked = false;
	        document.getElementById("asia").checked = false;
	        document.getElementById("europe").checked = false;
	        document.getElementById("oceania").checked = false;
	    }
	}

	function checkOceania() {
	    if(document.getElementById("oceania").checked){
	        document.getElementById("africa").checked = false;
	        document.getElementById("asia").checked = false;
	        document.getElementById("america").checked = false;
	        document.getElementById("europe").checked = false;
	    }
	}

	/////////////////////////////////////////////
	// company functions
	/////////////////////////////////////////////

	function checkFamily() {
	    if(document.getElementById("family").checked){
	    	document.getElementById("romantic").checked = false;
	        document.getElementById("alone").checked = false;
	        document.getElementById("friends").checked = false;
	        document.getElementById("people").checked = false;
	    }
	}

	function checkLove() {
	    if(document.getElementById("romantic").checked){
	    	document.getElementById("family").checked = false;
	        document.getElementById("alone").checked = false;
	        document.getElementById("friends").checked = false;
	        document.getElementById("people").checked = false;
	    }
	}

	function checkAlone() {
	    if(document.getElementById("alone").checked){
	    	document.getElementById("romantic").checked = false;
	        document.getElementById("family").checked = false;
	        document.getElementById("friends").checked = false;
	        document.getElementById("people").checked = false;
	    }
	}

	function checkFriends() {
	    if(document.getElementById("friends").checked){
	    	document.getElementById("romantic").checked = false;
	        document.getElementById("alone").checked = false;
	        document.getElementById("familys").checked = false;
	        document.getElementById("people").checked = false;
	    }
	}

	function checkPeople() {
	    if(document.getElementById("people").checked){
	    	document.getElementById("romantic").checked = false;
	        document.getElementById("alone").checked = false;
	        document.getElementById("friends").checked = false;
	        document.getElementById("family").checked = false;
	    }
	}

	/////////////////////////////////////////////
	// Budget functions
	/////////////////////////////////////////////

	function checkPriceMax300() {
	    if(document.getElementById("maxp300").checked){
	    	document.getElementById("betwp35").checked = false;
	        document.getElementById("betwp510").checked = false;
	        document.getElementById("minp1000").checked = false;
	    }
	}

	function checkPriceBetw35() {
	    if(document.getElementById("betwp35").checked){
	    	document.getElementById("maxp300").checked = false;
	        document.getElementById("betwp510").checked = false;
	        document.getElementById("minp1000").checked = false;
	    }
	}

	function checkPriceBetw510() {
	    if(document.getElementById("betwp510").checked){
	    	document.getElementById("betwp35").checked = false;
	        document.getElementById("maxp300").checked = false;
	        document.getElementById("minp1000").checked = false;
	    }
	}

	function checkPriceMin1000() {
	    if(document.getElementById("minp1000").checked){
	    	document.getElementById("betwp35").checked = false;
	        document.getElementById("betwp510").checked = false;
	        document.getElementById("maxp300").checked = false;
	    }
	}

	/////////////////////////////////////////////
	// Duration functions
	/////////////////////////////////////////////

	function checkDurationMax3() {
	    if(document.getElementById("maxd3").checked){
	    	document.getElementById("betwd35").checked = false;
	        document.getElementById("betwd57").checked = false;
	        document.getElementById("minweek").checked = false;
	    }
	}

	function checkDurationBetw35() {
	    if(document.getElementById("betwd35").checked){
	    	document.getElementById("maxd3").checked = false;
	        document.getElementById("betwd57").checked = false;
	        document.getElementById("minweek").checked = false;
	    }
	}

	function checkDurationBetw57() {
	    if(document.getElementById("betwd57").checked){
	    	document.getElementById("betwd35").checked = false;
	        document.getElementById("maxd3").checked = false;
	        document.getElementById("minweek").checked = false;
	    }
	}

	function checkDurationMinWeek() {
	    if(document.getElementById("minweek").checked){
	    	document.getElementById("betwd35").checked = false;
	        document.getElementById("betwd57").checked = false;
	        document.getElementById("maxd3").checked = false;
	    }
	}

	/////////////////////////////////////////////
	// Interest functions
	/////////////////////////////////////////////

	function checkTourism() {
	    if(document.getElementById("tourism").checked){
	    	document.getElementById("beach").checked = false;
	        document.getElementById("nature").checked = false;
	    }
	}

	function checkBeach() {
	    if(document.getElementById("beach").checked){
	    	document.getElementById("tourism").checked = false;
	        document.getElementById("nature").checked = false;
	    }
	}

	function checkNature() {
	    if(document.getElementById("nature").checked){
	    	document.getElementById("beach").checked = false;
	        document.getElementById("tourism").checked = false;
	    }
	}

	/////////////////////////////////////////////
	// Services functions
	/////////////////////////////////////////////

	function checkLodging() {
	    if(document.getElementById("lodging").checked){
	    	document.getElementById("gastronomy").checked = false;
	        document.getElementById("activities").checked = false;
	    }
	}

	function checkGastronomy() {
	    if(document.getElementById("gastronomy").checked){
	    	document.getElementById("lodging").checked = false;
	        document.getElementById("activities").checked = false;
	    }
	}

	function checkActivities() {
	    if(document.getElementById("activities").checked){
	    	document.getElementById("gastronomy").checked = false;
	        document.getElementById("lodging").checked = false;
	    }
	}

</script>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>