
<p class="create-edit-trip-form-section-title">¿Cómo categorizarías este viaje?</p>

<%= f.check_box :family, class:"create-edit-trip-form-checkbox"%>
<label class="create-edit-form-option">Viaje familiar</label><br>

<%= f.check_box :romantic, class:"create-edit-trip-form-checkbox" %>
<label class="create-edit-form-option">Escapada romántica con tu pareja</label><br>

<%= f.check_box :friends, class:"create-edit-trip-form-checkbox"%>
<label class="create-edit-form-option">Viaje que hay que hacer con amigos</label><br>

<%= f.check_box :alone, class:"create-edit-trip-form-checkbox"%>
<label class="create-edit-form-option">Viaje para realizar sólo</label><br>

<%= f.check_box :people, class:"create-edit-trip-form-checkbox"%>
<label class="create-edit-form-option">Viaje para conocer gente</label><br>