<%= render "layouts/sidebar" %>

<div class="main-testing-container">
	<div class="main-testing-title">
		<p> Apartado de pruebas </p>
	</div>

	<div class="main-testing-body">

		<!-- ########################################################### -->
		<!-- # Técnica de recomendación por popularidad # -->
		<!-- ########################################################### -->

		<div class="testing-container">
			<p class="testing-container-title">1) Algoritmo de recomendación por popularidad</p>
			<hr>


			<div class="testing-container-results">

				<div class="row">
					<div class="col-7">
						<text class="testing-container-step">-></text> Se mostrarán al usuario los viajes/experiencias más populares según su número de clientes y valoración.
					</div>

					<div class="col-5">
						<div class="testing-btn">
              				<text onclick="show_test()", id="showbtn", class="testing-btn-link">Mostrar</text>
              				<text onclick="hide_test()", id="hidebtn", class="testing-btn-link">Ocultar</text>
              			</div>
              		</div>
              	</div>


            	<div id="populartrips"> 

            		<br>
					<p><text class="testing-container-step">-></text> En primer lugar obtenemos la lista de viajes con el número de clientes que tienen y su valoración</p>

					<p><text class="testing-container-step">-></text> Ordenaremos la lista según el número de clientes que tienen y su valoración</p>

					<table class="testing-table">
						<thead>
							<tr>
								<td>ID Viaje</td>
								<td>Viaje</td>
								<td>Nº Usuarios</td>
								<td>Valoración</td>
							</tr>
						</thead>

						<tbody>
							<% @trips_by_clients.each do |trip| %>
								<tr>
									<td><%= trip.id %></td>
									<td><%= trip.title %></td>
									<td><%= trip.users.size %></td>
									<td><%= trip.rating %></td>
								</tr>
							<% end %>
						</tbody>
					</table>

					<p><text class="testing-container-step">-></text> De esta lista nos quedaremos con los 3 viajes que mayor número de clientes tengan y en caso de empate, mayor valoración</p>

					<table class="testing-table">
						<thead>
							<tr>
								<td>ID Viaje</td>
								<td>Viaje</td>
								<td>Nº Usuarios</td>
								<td>Valoración</td>
							</tr>
						</thead>

						<tbody>
							<% @most_popular_trips.each do |trip| %>
								<tr>
									<td><%= trip.id %></td>
									<td><%= trip.title %></td>
									<td><%= trip.users.size %></td>
									<td><%= trip.rating %></td>
								</tr>
							<% end %>
						</tbody>
					</table>

					<p><text class="testing-container-step">-></text> Otra posible solución sería mostrar los 3 más populares según diferentes criterios como el que más clientes tenga, el que mejor valoración tenga y el que mejor relación valoracion/clientes tenga</p>
				</div>
			</div>
		</div>

		<!-- ########################################################### -->
		<!-- # Técnica de recomendación por conocimiento (categorías)  # -->
		<!-- ########################################################### -->

		<div class="testing-container">
			<p class="testing-container-title">2) Algoritmo de recomendación por conocimiento</p>
			<hr>

			<%= form_for "", url: admin_dashboards_testing_path, method: :get do |f|%>
				<div class="form-group row justify-content-center row">
					<div class="col-sm-3">
						<%= f.collection_select(:user_id, User.all, :id, :id, {include_blank: 'Selecciona un usuario'}, required: true, class:"create-edit-form-input") %>
					</div>
					
					<div class="col-sm-2">
	      				<%= submit_tag "Confirmar" %>
	    			</div>
				</div>
			<% end %>

			<div class="testing-container-results">

				<% if !@user %>
					<p><text class="testing-container-step">-></text> Debe seleccionarse un usuario para realizar el test </p>
				<% else %>
					<p><text class="testing-container-step">-></text> El usuario seleccionado ha sido <b><%=@user.name%> <%=@user.surname %></b> con id: <b><%=@user.id %></b> </p>

					<% if @user.trips.size == 0 %>
						<p><text class="testing-container-step">-></text> El usuario no ha realizado ningún viaje</p>
					<% else %>
						<p><text class="testing-container-step">-></text> Estos son los viajes realizados por el usuario: </p>

						<table class="testing-table">
							<thead>
								<tr>
									<td>ID Viaje</td>
									<td>Valoración</td>
								</tr>
							</thead>

							<tbody>
								<% @trips_rating.each do |trip, rating| %>
									<tr>
										<td><%= trip %></td>
										<td><%= rating %></td>
									</tr>
								<% end %>
							</tbody>
						</table>

						<p><text class="testing-container-step">-></text> Estas son las preferencias encontradas en los viajes realizados: </p>

						<table class="testing-table">
							<thead>
								<tr>
									<td>Viaje</td>
									<td>Valoración</td>
									<% @preferences.each do |preference| %>
										<td> <%= preference %></td>
									<% end %>
								</tr>
							</thead>

							<tbody>
								<% @user.trips.each do |trip| %>
									<tr>
										<td><%= trip.id %></td>
										<td><%= Review.get_review(@user, trip) %> x </td>
										<% @preferences.each do |preference| %>
											<td>
												<% if Trip.trip_has_preference(trip, preference) %>
													1
												<% end %>
											</td>
										<% end %>
									</tr>
								<% end %>
							</tbody>
						</table>

						<p><text class="testing-container-step">-></text> Matriz codificada según el enfoque ONE-HOT de las preferencias </p>

						<table class="testing-table">
							<thead>
								<tr>
									<td>Viaje</td>
									<% @preferences.each do |preference| %>
										<td> <%= preference %></td>
									<% end %>
								</tr>
							</thead>

							<tbody>
								<% 	@user.trips.each do |trip| %>
									<tr>
										<td><%= trip.id %></td>
										<% @preferences.each do |preference| %>
											<td>
												<% if Trip.trip_has_preference(trip, preference) %>
													<%= Review.get_review(@user, trip) %>
												<% else %>
													0
												<% end %>
											</td>
										<% end %>
									</tr>
								<% end %>
							</tbody>
						</table>

						<p><text class="testing-container-step">-></text> Calculamos la importancia de cada preferencia según sus valoraciones y el total de preferencias </p>

						<table class="testing-table">
							<thead>
								<tr>
									<td>Total</td>
									<% @preferences.each do |preference| %>
										<td> <%= preference %></td>
									<% end %>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td></td>
									<% @preferences_values.keys.each do |key| %>
										<td> <%= @preferences_values[key] %></td>
									<% end %>
								</tr>
							</tbody>
						</table>

						<p><text class="testing-container-step">-></text> Estas son las 3 preferencias que más podrían interesar al usuario a primera vista: </p>

						<table class="testing-table">
							<thead>
								<tr>
									<% @final_preferences.each do |preference| %>
										<td> <%= preference %></td>
									<% end %>
								</tr>
							</thead>
						</table>

						<p><text class="testing-container-step">-></text> La forma de hallar los viajes más interesantes para este usuario es mediante una matriz de candidatos </p>

						<table class="testing-table">
							<thead>
								<tr>
									<td>Viaje</td>
									<% @preferences.each do |preference| %>
										<td> <%= preference %></td>
									<% end %>
								</tr>
							</thead>

							<tbody>
								<% @candidates.keys.each do |trip| %>
									<tr>
										<td><%= trip %></td>
										<% @candidates[trip].keys.each do |pref| %>
											<td><%= @candidates[trip][pref] %></td>
										<% end %>
									</tr>
								<% end %>
							</tbody>
						</table>

						<p><text class="testing-container-step">-></text> De esta forma podremos obtener la afinidad que tiene cada viaje con el usuario </p>

						<table class="testing-table">
							<thead>
								<tr>
									<td>Viaje</td>
									<td>Afinidad</td>
								</tr>
							</thead>

							<tbody>
								<% @candidates_affinities.keys.each do |trip| %>
									<tr>
										<td><%= trip %></td>
										<td><%= @candidates_affinities[trip] %></td>
									</tr>
								<% end %>
							</tbody>
						</table>

						<p><text class="testing-container-step">-></text> Por último, nos quedaremos con los 3 viajes que más afinidad tengan con el usuario, los cuales son: </p>

						<table class="testing-table">
							<thead>
								<tr>
									<td>ID Viaje</td>
									<td>Título</td>
								</tr>
							</thead>

							<tbody>
								<% @final_candidates.each do |trip| %>
									<tr>
										<td><%= trip.id %></td>
										<td><%= trip.title %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<% end %>
				<% end %>
			</div>
		</div>

		<!-- ########################################################### -->
		<!-- # Técnica de recomendación colaborativo (filtrado social) # -->
		<!-- ########################################################### -->

		<div class="testing-container">
			<p class="testing-container-title">3) Algoritmo de recomendación colaborativo</p>
			<hr>

			<%= form_for "", url: admin_dashboards_testing_path, method: :get do |f|%>
				<div class="form-group row justify-content-center row">
					<div class="col-sm-3">
						<%= f.collection_select(:social_id, User.all, :id, :id, {include_blank: 'Selecciona un usuario'}, required: true, class:"create-edit-form-input") %>
					</div>
					
					<div class="col-sm-2">
	      				<%= submit_tag "Confirmar" %>
	    			</div>
				</div>
			<% end %>

			<div class="testing-container-results">
				<% if !@user_social %>
					<p><text class="testing-container-step">-></text> Debe seleccionarse un usuario para realizar el test </p>
				<% else %>
					<p><text class="testing-container-step">-></text> Esta técnica consiste en buscar cuales son los viajes más afines con el usuario en función de la interacción con otros usuarios. El algoritmo en sí dice que si dos personas A y B comparten una misma opinión sobre un producto, entonces, matemáticamente A tendrá más posibilidades de tener la misma opinión que B en un producto distinto que otra persona tomada al azar.</p>

					<p><text class="testing-container-step">-></text> El usuario seleccionado ha sido <b><%=@user_social.name%> <%=@user_social.surname %></b> con id: <b><%=@user_social.id %></b> </p>

					<% if @user_reviews.size == 0 %>
						<p><text class="testing-container-step">-></text> El usuario no ha realizado ninguna valoración</p>
					<% else %>
						<p><text class="testing-container-step">-></text> Primero obtendremos las valoraciones que ha realizado el usuario en sus viajes</p>

						<table class="testing-table">
							<thead>
								<tr>
									<td>ID Usuario</td>
									<td>ID Viaje</td>
									<td>Viaje </td>
									<td>Valoración</td>
								</tr>
							</thead>

							<tbody>
								<% @user_reviews.each do |review| %>
									<tr>
										<td><%= review.user_id %></td>
										<td><%= review.trip_id %></td>
										<td><%= Review.get_trip(review).title %>
										<td><%= review.rating %></td>
									</tr>
								<% end %>
							</tbody>
						</table>

						<p><text class="testing-container-step">-></text> El siguiente paso es obtener las valoraciones de usuarios que hayan valorado en los mismos viajes que nuestro usuario.</p>

						<% if @other_user_reviews.size != 0 %>
							<table class="testing-table">
								<thead>
									<tr>
										<td>ID Usuario</td>
										<td>ID Viaje</td>
										<td>Valoración</td>
									</tr>
								</thead>

								<tbody>
									<% @other_user_reviews.each do |review| %>
										<tr>
											<td><%= review.user_id %></td>
											<td><%= review.trip_id %></td>
											<td><%= review.rating %></td>
										</tr>
									<% end %>
								</tbody>
							</table>

							<p><text class="testing-container-step">-></text> Una vez obtenidos estos usuarios, debemos seleccionar aquellos con los que compartamos una opinión cercana, es decir, que nuestras valoraciones en alguno de los viajes sean parecidas. <br>(Las valoraciones parecidas serán consideradas si pertenecen a un intervalo <= 0,5 de diferencia.) </p>

							<% if @similar_reviews.size != 0 %>
								<table class="testing-table">
									<thead>
										<tr>
											<td>ID Usuario</td>
											<td>ID Viaje</td>
											<td>Valoración</td>
										</tr>
									</thead>

									<tbody>
										<% @similar_reviews.each do |review| %>
											<tr>
												<td><%= review.user_id %></td>
												<td><%= review.trip_id %></td>
												<td><%= review.rating %></td>
											</tr>
										<% end %>
									</tbody>
								</table>

								<p><text class="testing-container-step">-></text> Los usuarios cuyas valoraciones en los viajes son parecidas a las de nuestro usuario (como podemos ver en la tabla anterior) son:</p>

								<table class="testing-table">
									<thead>
										<tr>
											<td>ID Usuario</td>
											<td>Usuario</td>
										</tr>
									</thead>

									<tbody>
										<% @similar_reviews_users.each do |user| %>
											<tr>
												<td><%= user.id %></td>
												<td><%= user.name %> <%= user.surname %></td>
											</tr>
										<% end %>
									</tbody>
								</table>

								<%= @message %>

								<% if @similar_reviews_users_difference %>
									<p><text class="testing-container-step">-></text> Con esta información podemos obtener los usuarios más afines según el filtrado social con el usuario.Para esto, obtendremos la diferencia que han tenido a lo largo de las valoraciones y nos quedaremos con los usuarios que menor diferencia tengan respecto del nuestro. </p>

									<table class="testing-table">
										<thead>
											<tr>
												<td>ID Usuario</td>
												<td>Diferencia entre valoraciones</td>
											</tr>
										</thead>

										<tbody>
											<% @similar_reviews_users_difference.keys.each do |user| %>
												<tr>
													<td><%= user.id %></td>
													<td><%= @similar_reviews_users_difference[user] %></td>
												</tr>
											<% end %>
										</tbody>
									</table>

									<p><text class="testing-container-step">-></text> De estos usuarios ignoraremos los que ya pertenecen a la lista de amigos de nuestro usuario, para evitar recomendarle usuarios que ya conoce. Los 3 usuarios con menor diferencia en nuestras valoraciones son: </p>

									<table class="testing-table">
										<thead>
											<tr>
												<td>ID Usuario</td>
												<td>Usuario</td>
											</tr>
										</thead>

										<tbody>
											<% @most_similar_users_by_reviews.each do |user| %>
												<tr>
													<td><%= user.id %></td>
													<td><%= user.name %><%= user.surname %></td>
												</tr>
											<% end %>
										</tbody>
									</table>
								<% end %>


							<% else %>
								<p><text class="testing-container-step">-></text> El usuario seleccionado no tiene valoraciones similares a otros usuarios</p>
							<% end %>

						<% else %>
							<p><text class="testing-container-step">-></text> El usuario seleccionado no comparte valoraciones con otros usuarios</p>
						<% end %>







					<% end %>
				<% end %>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">

  	document.getElementById('showbtn').style.display = 'block';
  	document.getElementById('hidebtn').style.display = 'none';
  	document.getElementById('populartrips').style.display = 'none';


	/////////////////////////////////////////////
	// Change dynamic info and styles
	/////////////////////////////////////////////

	function show_test(){
	    if(document.getElementById('populartrips').style.display == 'none'){
        	document.getElementById('populartrips').style.display = 'block';
          	document.getElementById('showbtn').style.display = 'none';
          	document.getElementById('hidebtn').style.display = 'block';
	    }
	}

	function hide_test(){
	    if(document.getElementById('populartrips').style.display == 'block'){
        	document.getElementById('populartrips').style.display = 'none';
          	document.getElementById('showbtn').style.display = 'block';
          	document.getElementById('hidebtn').style.display = 'none';
	    }
	}

</script>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "admin" %>
<% end %>