<%= render 'layouts/header' %>

<% if session[:theme] == "light" %>
	<div class="main-about-container">

		<div class="about-title-container">
			<div class="about-title">
				<%= image_tag 'local/zytrip-transparent-footer-2.png' %>Zytrip
			</div>
		</div>

		<div class="navigation-routes">
		  <ol>
		      <li><%= link_to 'Zytrip', root_path, class:"navigation-routes-link" %></li>
		      <li>Acerca de Zytrip</li>
		  </ol>
		</div>

		<div class="main-about">

			<h1>¿Qué es y cómo nace Zytrip?</h1>

			<p>La aplicación web Zytrip nace de la idea de aprender el funcionamiento de los sistemas de recomendación, utilizando algunas de sus técnicas
			para poder implementar un sistema de recomendación mixto. Este proyecto empezó con el objeto de la realización de mi trabajo de fin de grado en la Universidad Autónoma de Madrid.</p>

			<p>A decir verdad, esta idea es un planteamiento curioso, ya que no soy una  persona a quién le apasione viajar, es más bien todo lo contrario, pero sí tenía esas ganas de querer aprender del mundo de los sistemas de recomendaciones. Otro detalle a tener en cuenta es que tenía a mi alcance como optativa de la carrera una asignatura dedicada a este campo, pero fui consciente de ésta una vez ya había cursado los créditos correspondientes a otras optativas, por lo que es una espinita que tuve guardada y es por ello que quise orientar mi trabajo de fin de grado a este campo. </p>

			<p>Con esta idea ya en mente pensé en distintas temáticas posibles. Se me ocurrieron temáticas relacionadas con el mundo de la informática, deportes, moda... pero al final me decanté por la idea de un recomendador de experiencias.</p>

			<p>Fue ya durante la fase de diseño que me fui dando cuenta que podía explotar mucho más esta idea y ampliar lo que la aplicación final Zytrip pudiese ofrecer. Quería que Zytrip fuese más alla de un simple recomendador de experiencias, tenía en mente crear un portal donde usuarios pudiesen conocerse y compartir sus experiencias y viajes por el mundo, fundamentando esto en el sistema de recomendaciones que habría detrás.</p><br>

		</div>
	</div>
<% else %>
	<div class="main-about-container-dark">

		<div class="about-title-container">
			<div class="about-title">
				<%= image_tag 'local/zytrip-transparent-footer-2.png' %>Zytrip
			</div>
		</div>

		<div class="navigation-routes">
		  <ol>
		      <li><%= link_to 'Zytrip', root_path, class:"navigation-routes-link" %></li>
		      <li style="color: black;">Acerca de Zytrip</li>
		  </ol>
		</div>

		<div class="main-about-dark">

			<h1>¿Qué es y cómo nace Zytrip?</h1>

			<p>La aplicación web Zytrip nace de la idea de aprender el funcionamiento de los sistemas de recomendación, utilizando algunas de sus técnicas
			para poder implementar un sistema de recomendación mixto. Este proyecto empezó con el objeto de la realización de mi trabajo de fin de grado en la Universidad Autónoma de Madrid.</p>

			<p>A decir verdad, esta idea es un planteamiento curioso, ya que no soy una  persona a quién le apasione viajar, es más bien todo lo contrario, pero sí tenía esas ganas de querer aprender del mundo de los sistemas de recomendaciones. Otro detalle a tener en cuenta es que tenía a mi alcance como optativa de la carrera una asignatura dedicada a este campo, pero fui consciente de ésta una vez ya había cursado los créditos correspondientes a otras optativas, por lo que es una espinita que tuve guardada y es por ello que quise orientar mi trabajo de fin de grado a este campo. </p>

			<p>Con esta idea ya en mente pensé en distintas temáticas posibles. Se me ocurrieron temáticas relacionadas con el mundo de la informática, deportes, moda... pero al final me decanté por la idea de un recomendador de experiencias.</p>

			<p>Fue ya durante la fase de diseño que me fui dando cuenta que podía explotar mucho más esta idea y ampliar lo que la aplicación final Zytrip pudiese ofrecer. Quería que Zytrip fuese más alla de un simple recomendador de experiencias, tenía en mente crear un portal donde usuarios pudiesen conocerse y compartir sus experiencias y viajes por el mundo, fundamentando esto en el sistema de recomendaciones que habría detrás.</p><br>

		</div>
	</div>
<% end %>

<%= render 'layouts/footer' %>
