<%= render "layouts/header" %>

<% if session[:theme] == "light" %>
	<div class="main-landing">
		<div class="landing-title-container">
			<div class="landing-title">
				Zytrip
			</div>
			<div class="landing-description">
				Expande tus horizontes
			</div>
			<div class="landing-steps">
				<div class="row justify-content-md-center">
					<div class="col col-lg-3 landing-steps-col">
						<i class="fas fa-wrench"></i>
						<p> 1. Te ofrecemos una herramienta para encontrar tu viaje ideal</p>
						
					</div>

					<div class="col col-lg-3 landing-steps-col">
						<i class="fas fa-plane"></i>
						<p> 2. Tendrás a tu disposición una lista de los viajes más populares y recomendados</p>
						
					</div>

					<div class="col col-lg-3 landing-steps-col">
						<i class="fas fa-list"></i>
						<p> 3. Conoce gente que te abrirá a nuevas experiencias y lugares maravillosos</p>
					</div>
				</div>
			</div>
		</div>

		<% if !(user_signed_in?)%>
			<% if session[:nav_count] == 1 %>
				<div id="recommendation">
					<div class="recommendation-container">
				
						<%= link_to root_path, class:"close-button-img" do %>
							<%= image_tag 'local/close_button.jpg' %>
						<% end %>

						<div class="recommendation-main-container">
							<div class="row">
								<div class="col-6">
									<%= image_tag 'local/zytrip-high-resolution-color-team.png' %>
								</div>

								<div class="col-6">
									<h1>¡Gracias por usar zytrip!</h1>

									<p> Te recomendamos crear una cuenta de usuario para poder disfrutar de todas las posibilidades que Zytrip te ofrece, y de esta forma, conseguir la mejor experiencia de usuario posible.</p>

									<p>Esperemos que disfrutes de esta primera versión.</p>

									<p>Gracias de parte del equipo de Zytrip</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>

		<div class="landing-results">
			<!----------------------------------------------------------->
			<!------------ Recomendaciones según Popularidad ------------>
			<!----------------------------------------------------------->
			
			<div class="landing-results-info ">
				<div class="landing-results-info-text">
					<h2>Nuestros destinos más populares</h2>
					<p>Recomendaciones resultantes de los viajes más realizados por nuestros usuarios y con mejor valoración</p>
				</div>

				<div class="landing-results-info-btn">
					<%=link_to 'Ver todos', trips_path, class:"landing-results-info-btn-link"%>
				</div>
			</div>

			<div class="landing-results-recomendations">
				<div class="row justify-content-md-center">
					<% @popular_trips.each do |trip| %>
						<div class="col col-lg-3 landing-results-recomendations-box">
							<% if trip.image_url %>
	              				<%= image_tag("#{trip.image_url}") %>
							<% elsif trip.image %>
								<%= image_tag(trip.image) %>
							<% else %>
	                			<%= image_tag("local/no-image-available.png") %>
	                		<% end %>

							<hr>
							<p class="result-info">
								<div class="row justify-content-between">
									<div class="col-8">
										<%= link_to trip, style:"text-decoration: none" do %>
											<b><p class="result-info-title" style="text-decoration: none; color: black;"><%= trip.title %></p></b>
										<% end %>
									</div>
									<div class="col-4">
										<p class="result-info-price"><%= trip.price %> €</p>
									</div>
								</div>
							</p>
						</div>
					<% end %>
				</div>
			</div>

			<!----------------------------------------------------------->
			<!------------- Recomendaciones según Actividad ------------->
			<!----------------------------------------------------------->

			<% if @trips_recomendated && (@user.trips.size > 0) %>
				<div class="landing-results-info ">
					<div class="landing-results-info-text">
						<h2>Destinos que podrían interesarte</h2>
						<p>Recomendaciones resultantes de tu actividad y valoración en los viajes</p>
					</div>
				</div>

				<div class="landing-results-recomendations">
					<div class="row justify-content-md-center">
						<% @trips_recomendated.keys.each do |trip| %>
							<div class="col col-lg-3 landing-results-recomendations-box">
								<% if trip.image_url %>
	              					<%= image_tag("#{trip.image_url}") %>
								<% elsif trip.image %>
									<%= image_tag(trip.image) %>
								<% else %>
		                			<%= image_tag("local/no-image-available.png") %>
		                		<% end %>

								<hr>
								<p class="result-info">
									<div class="row justify-content-between">
										<div class="col-8">
											<%= link_to trip, style:"text-decoration: none" do %>
												<b><p class="result-info-title" style="text-decoration: none; color: black;"><%= trip.title %></p></b>
											<% end %>
										</div>
										<div class="col-4">
											<p class="result-info-price"><%= trip.price %> €</p>
										</div>
									</div>
								</p>
							</div>
						<% end %>
					</div>
				</div>
			<% elsif session[:trips_ids] %>
				<div class="landing-results-info ">
					<div class="landing-results-info-text">
						<h2>Destinos que podrían interesarte</h2>
						<p>Recomendaciones resultantes de tu actividad</p>
					</div>
				</div>

				<div class="landing-results-recomendations">
					<div class="row justify-content-md-center">
						<% @session_trips.each do |trip| %>
							<div class="col col-lg-3 landing-results-recomendations-box">
								<% if trip.image_url %>
	              					<%= image_tag("#{trip.image_url}") %>
								<% elsif trip.image %>
									<%= image_tag(trip.image) %>
								<% else %>
		                			<%= image_tag("local/no-image-available.png") %>
		                		<% end %>

								<hr>
								<p class="result-info">
									<div class="row justify-content-between">
										<div class="col-8">
											<%= link_to trip, style:"text-decoration: none" do %>
												<b><p class="result-info-title" style="text-decoration: none; color: black;"><%= trip.title %></p></b>
											<% end %>
										</div>
										<div class="col-4">
											<p class="result-info-price"><%= trip.price %> €</p>
										</div>
									</div>
								</p>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>

		<!----------------------------------------------------------->
		<!---------------- Cuéntanos tu experiencia ----------------->
		<!----------------------------------------------------------->

		<% if user_signed_in?%>

			<div class="landing-user-trip-container">
				<div class="row">
					<div class="col-4">
						<%= image_tag("local/tourist_group.jpg") %>
					</div>

					<div class="col-8">
						<div class="landing-user-trip-description-container">
							<p class="landing-user-trip-title">¿Has hecho un viaje memorable? </p>
							<p class="landing-user-trip-description-text">Comparte tus viajes y experiencias con otros usuarios para poder abrir entre vosotros un mundo de posibilidades</p>

							<div class="landing-user-trip-btn">
								<%=link_to 'Cuéntanos tu experiencia', new_trip_path, class:"landing-user-trip-btn-link"%>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>

		<!----------------------------------------------------------->
		<!------------- Recomendaciones filtrado social ------------->
		<!----------------------------------------------------------->

		<div class="landing-results">
			<% if user_signed_in?%>	
				<% if @most_similar_users.size != 0 %>
					<div class="landing-results-info ">
						<div class="landing-results-info-text">
							<h2>Algunas sugerencias para ti</h2>
							<p>Usuarios con los que compartes opiniones y que podrían interesarte</p>
						</div>
					</div>

					<div class="landing-results-recomendations">
						<div class="row justify-content-md-center">
							<% @most_similar_users.each do |user| %>
								<div class="col col-lg-3 landing-results-users-recomendations-box">
									<% if user.additional_information && !(user.additional_information.image_url.nil?) %>
		                        		<%= image_tag("#{user.additional_information.image_url}", class:"profile-img-center") %>
									<% elsif !(user.image.nil?) && !(user.image.empty?)%>
										<%= image_tag user.image, class:"profile-img-center" %>
									<% else %>
			                			<%= image_tag "local/user.jpeg", class:"profile-img-center" %>
			                		<% end %>

									<hr>
									<div class="result-info">
										<div class="row justify-content-center">
											<% @user_name = user.name + ' ' + user.surname %>
											<%= link_to @user_name, users_profile_path(user.id), class: "result-info-user" %> 
										</div>
									</div>

									<div class="profile-edit-btn text-center profile-img-center">
	                        			<%= link_to "Seguir", friendships_add_friend_path(id: user.id, source:"landing"), class:"profile-edit-btn-link"%>
	                    			</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>

				<% if @friends_trips.size != 0 %>
					<div class="landing-results-info ">
						<div class="landing-results-info-text">
							<h2>Destinos que podrían interesarte</h2>
							<p>Recomendaciones según los usuarios que sigues</p>
						</div>
					</div>

					<div class="landing-results-recomendations">
						<div class="row justify-content-md-center">
							<% @friends_trips.each do |trip| %>
								<div class="col col-lg-3 landing-results-recomendations-box">
									<% if trip.image_url %>
	              						<%= image_tag("#{trip.image_url}") %>
									<% elsif trip.image %>
										<%= image_tag(trip.image) %>
									<% else %>
			                			<%= image_tag("local/no-image-available.png") %>
			                		<% end %>

									<hr>
									<p class="result-info">
										<div class="row justify-content-between">
											<div class="col-8">
												<%= link_to trip, style:"text-decoration: none" do %>
													<b><p class="result-info-title" style="text-decoration: none; color: black;"><%= trip.title %></p></b>
												<% end %>
											</div>
											<div class="col-4">
												<p class="result-info-price"><%= trip.price %> €</p>
											</div>
										</div>
									</p>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>

		<!----------------------------------------------------------->
		<!---------------- Queremos saber tu opinión ---------------->
		<!----------------------------------------------------------->

		<% if user_signed_in?%>

			<div id="surveycontainer">
				<div class="landing-user-survey-container">
					<div class="row">
						<div class="col-8">
							<div class="landing-user-survey-description-container">
								<p class="landing-user-survey-title">Queremos saber tu opinión </p>
								<p class="landing-user-survey-description-text">¿Cuál es tu satisfacción con zytrip y los resultados obtenidos de las distintas recomendaciones?</p>

								<div class="landing-user-survey-btn">
									<text onclick="show_survey_form()", id="surveybtn", class="landing-user-survey-btn-link">Realizar encuesta</text>
								</div>
							</div>
						</div>

						<div class="col-4">
							<%= image_tag("local/survey.png") %>
						</div>
					</div>
				</div>
			</div>

			<div id="surveyform">
				<div class="landing-user-survey-form-container">
					<div class="landing-user-survey-form-description-container">
						<p class="landing-user-survey-title text-center">Queremos saber tu opinión </p>

				        <% @survey = Survey.new() %>
				        <%= form_tag surveys_path(@survey), :method => 'post' do %>
					        <div class="row">
					            <div class="col-md-12 mb-3">
					            	<label class="create-review-trip-form-label"><text class="landing-user-survey-form-step"> -> </text>Satisfacción con los resultados obtenidos de las distintas recomendaciones:</label>
					              	<i class="far fa-star" aria-hidden="true" id="r_s1" onclick="r_s1_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="r_s2" onclick="r_s2_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="r_s3" onclick="r_s3_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="r_s4" onclick="r_s4_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="r_s5" onclick="r_s5_click()"></i>
					              	<input name="results_rating" type="hidden" id="results_rating">
					            </div>
					        </div>

					        <div class="row">
					            <div class="col-md-12 mb-3">
					            	<label class="create-review-trip-form-label"><text class="landing-user-survey-form-step"> -> </text>¿Cómo valorarías la búsqueda interactiva que ofrece Zytrip?:</label>
					              	<i class="far fa-star" aria-hidden="true" id="p_s1" onclick="p_s1_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="p_s2" onclick="p_s2_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="p_s3" onclick="p_s3_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="p_s4" onclick="p_s4_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="p_s5" onclick="p_s5_click()"></i>
					              	<input name="preferences_poll_rating" type="hidden" id="preferences_poll_rating">
					            </div>
					        </div>

					        <div class="row">
					            <div class="col-md-12 mb-3">
					            	<label class="create-review-trip-form-label"><text class="landing-user-survey-form-step"> -> </text>Valoración general de Zytrip:</label>
					              	<i class="far fa-star" aria-hidden="true" id="z_s1" onclick="z_s1_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="z_s2" onclick="z_s2_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="z_s3" onclick="z_s3_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="z_s4" onclick="z_s4_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="z_s5" onclick="z_s5_click()"></i>
					              	<input name="zytrip_rating" type="hidden" id="zytrip_rating">
					            </div>
					        </div>

					        <div class="row">
					            <div class="col-md-11 mb-3">
					              	<label class="create-review-trip-form-label"><text class="landing-user-survey-form-step"> -> </text>Puedes dejar una valoración, pregunta o cualquier mejora que te gustaría ver en nuestras futuras versiones</label>
					              	<%= text_area_tag :comment, params[:comment], class:"landing-user-survey-form-comment-area", autofocus: true %>
					            </div>
					        </div>

					        <div class="landing-user-survey-form-btns">
					            <div class="row justify-content-center">
					              	<div class="col-4 text-center">
					                	<%= submit_tag "Publicar valoración", class: "landing-user-survey-form-submit-btn", onclick:"set_ratings_values();" %>
					              	</div>
					            </div>
					        </div>
					    <% end %>
					</div>
				</div>
	      	</div>
		<% end %>

		<!----------------------------------------------------------->
		<!------------- Búsqueda interactiva parámetros ------------->
		<!----------------------------------------------------------->

		<div class="landing-form-container">
			<div class="landing-form-section">
				<div class="landing-form-section-info">
					<h2>Zytrip te facilita tu búsqueda</h2><br>
					<p>
						Sabes que quieres viajar, pero ¿no te decides o no encuentras el viaje que se adapte a tus necesidades?
						Te facilitamos un proceso interactivo para conseguir el mejor de los resultados, y que de esta forma, puedas encontrar tu viaje ideal
					</p>
					<div class="landing-form-info-btn">
						<%=link_to 'Pruébalo', preferences_poll_path, class:"landing-form-info-btn-link"%>
					</div>
				</div>
			</div>
		</div>

	</div>

<% else %>

	<div class="main-landing-dark">
		<div class="landing-title-container">
			<div class="landing-title">
				Zytrip
			</div>
			<div class="landing-description">
				Expande tus horizontes
			</div>
			<div class="landing-steps">
				<div class="row justify-content-md-center">
					<div class="col col-lg-3 landing-steps-col">
						<i class="fas fa-wrench"></i>
						<p> 1. Te ofrecemos una herramienta para encontrar tu viaje ideal</p>
						
					</div>

					<div class="col col-lg-3 landing-steps-col">
						<i class="fas fa-plane"></i>
						<p> 2. Tendrás a tu disposición una lista de los viajes más populares y recomendados</p>
						
					</div>

					<div class="col col-lg-3 landing-steps-col">
						<i class="fas fa-list"></i>
						<p> 3. Conoce gente que te abrirá a nuevas experiencias y lugares maravillosos</p>
					</div>
				</div>
			</div>
		</div>

		<% if !(user_signed_in?)%>
			<% if session[:nav_count] == 1 %>
				<div id="recommendation">
					<div class="recommendation-container">
				
						<%= link_to root_path, class:"close-button-img" do %>
							<%= image_tag 'local/close_button.jpg' %>
						<% end %>

						<div class="recommendation-main-container">
							<div class="row">
								<div class="col-6">
									<%= image_tag 'local/zytrip-high-resolution-color-team.png' %>
								</div>

								<div class="col-6" style="color: black;">
									<h1>¡Gracias por usar zytrip!</h1>

									<p> Te recomendamos crear una cuenta de usuario para poder disfrutar de todas las posibilidades que Zytrip te ofrece, y de esta forma, conseguir la mejor experiencia de usuario posible.</p>

									<p>Esperemos que disfrutes de esta primera versión.</p>

									<p>Atentamente, el equipo desarrollador</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>

		<div class="landing-results">

			<!----------------------------------------------------------->
			<!------------ Recomendaciones según Popularidad ------------>
			<!----------------------------------------------------------->

			<div class="landing-results-info ">
				<div class="landing-results-info-text-dark">
					<h2>Nuestros destinos más populares</h2>
					<p>Recomendaciones resultantes de los viajes más realizados por nuestros usuarios y con mejor valoración</p>
				</div>

				<div class="landing-results-info-btn-dark">
					<%=link_to 'Ver todos', trips_path, class:"landing-results-info-btn-link-dark"%>
				</div>
			</div>

			<div class="landing-results-recomendations">
				<div class="row justify-content-md-center">
					<% @popular_trips.each do |trip| %>
						<div class="col col-lg-3 landing-results-recomendations-box-dark">
							<% if trip.image_url %>
	              				<%= image_tag("#{trip.image_url}") %>
							<% elsif trip.image %>
								<%= image_tag(trip.image) %>
							<% else %>
	                			<%= image_tag("local/no-image-available.png") %>
	                		<% end %>

							<hr>
							<p class="result-info">
								<div class="row justify-content-between">
									<div class="col-8">
										<%= link_to trip, style:"text-decoration: none" do %>
											<b><p class="result-info-title" style="text-decoration: none; color: white;"><%= trip.title %></p></b>
										<% end %>
									</div>
									<div class="col-4">
										<p class="result-info-price"><%= trip.price %> €</p>
									</div>
								</div>
							</p>
						</div>
					<% end %>
				</div>
			</div>

			<!----------------------------------------------------------->
			<!------------- Recomendaciones según Actividad ------------->
			<!----------------------------------------------------------->

			<% if @trips_recomendated && (@user.trips.size > 0) %>
				<div class="landing-results-info ">
					<div class="landing-results-info-text-dark">
						<h2>Destinos que podrían interesarte</h2>
						<p>Recomendaciones resultantes de tu actividad y valoración en los viajes</p>
					</div>
				</div>

				<div class="landing-results-recomendations">
					<div class="row justify-content-md-center">
						<% @trips_recomendated.keys.each do |trip| %>
							<div class="col col-lg-3 landing-results-recomendations-box-dark">
								<% if trip.image_url %>
	              					<%= image_tag("#{trip.image_url}") %>
								<% elsif trip.image %>
									<%= image_tag(trip.image) %>
								<% else %>
		                			<%= image_tag("local/no-image-available.png") %>
		                		<% end %>

								<hr>
								<p class="result-info">
									<div class="row justify-content-between">
										<div class="col-8">
											<%= link_to trip, style:"text-decoration: none" do %>
												<b><p class="result-info-title" style="text-decoration: none; color: white;"><%= trip.title %></p></b>
											<% end %>
										</div>
										<div class="col-4">
											<p class="result-info-price"><%= trip.price %> €</p>
										</div>
									</div>
								</p>
							</div>
						<% end %>
					</div>
				</div>
			<% elsif session[:trips_ids] %>
				<div class="landing-results-info ">
					<div class="landing-results-info-text-dark">
						<h2>Destinos que podrían interesarte</h2>
						<p>Recomendaciones resultantes de tu actividad</p>
					</div>
				</div>

				<div class="landing-results-recomendations">
					<div class="row justify-content-md-center">
						<% @session_trips.each do |trip| %>
							<div class="col col-lg-3 landing-results-recomendations-box-dark">
								<% if trip.image_url %>
	              					<%= image_tag("#{trip.image_url}") %>
								<% elsif trip.image %>
									<%= image_tag(trip.image) %>
								<% else %>
		                			<%= image_tag("local/no-image-available.png") %>
		                		<% end %>

								<hr>
								<p class="result-info">
									<div class="row justify-content-between">
										<div class="col-8">
											<%= link_to trip, style:"text-decoration: none" do %>
												<b><p class="result-info-title" style="text-decoration: none; color: white;"><%= trip.title %></p></b>
											<% end %>
										</div>
										<div class="col-4">
											<p class="result-info-price"><%= trip.price %> €</p>
										</div>
									</div>
								</p>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>

		<!----------------------------------------------------------->
		<!---------------- Cuéntanos tu experiencia ----------------->
		<!----------------------------------------------------------->

		<% if user_signed_in?%>
			<div class="landing-user-trip-container">
				<div class="row">
					<div class="col-4">
						<%= image_tag("local/tourist_group.jpg") %>
					</div>

					<div class="col-8">
						<div class="landing-user-trip-description-container-dark">
							<p class="landing-user-trip-title-dark">¿Has hecho un viaje memorable? </p>
							<p class="landing-user-trip-description-text">Comparte tus viajes y experiencias con otros usuarios para poder abrir entre vosotros un mundo de posibilidades</p>

							<div class="landing-user-trip-btn-dark">
								<%=link_to 'Cuéntanos tu experiencia', new_trip_path, class:"landing-user-trip-btn-link"%>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>

		<!----------------------------------------------------------->
		<!------------- Recomendaciones filtrado social ------------->
		<!----------------------------------------------------------->

		<div class="landing-results">
			<% if user_signed_in?%>	
				<% if @most_similar_users.size != 0 %>
					<div class="landing-results-info ">
						<div class="landing-results-info-text-dark">
							<h2>Algunas sugerencias para ti</h2>
							<p>Usuarios con los que compartes opiniones y que podrían interesarte</p>
						</div>
					</div>

					<div class="landing-results-recomendations">
						<div class="row justify-content-md-center">
							<% @most_similar_users.each do |user| %>
								<div class="col col-lg-3 landing-results-users-recomendations-box-dark">
									<% if user.additional_information && !(user.additional_information.image_url.nil?) %>
		                        		<%= image_tag("#{user.additional_information.image_url}", class:"profile-img-center") %>
									<% elsif !(user.image.nil?) && !(user.image.empty?)%>
										<%= image_tag user.image, class:"profile-img-center" %>
									<% else %>
			                			<%= image_tag "local/user.jpeg", class:"profile-img-center" %>
			                		<% end %>

									<hr>
									<div class="result-info">
										<div class="row justify-content-center">
											<% @user_name = user.name + ' ' + user.surname %>
											<%= link_to @user_name, users_profile_path(user.id), class: "result-info-user-dark" %> 
										</div>
									</div>

									<div class="profile-edit-btn text-center profile-img-center">
	                        			<%= link_to "Seguir", friendships_add_friend_path(id: user.id, source:"landing"), class:"profile-edit-btn-link"%>
	                    			</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>

				<% if @friends_trips.size != 0 %>
					<div class="landing-results-info ">
						<div class="landing-results-info-text-dark">
							<h2>Destinos que podrían interesarte</h2>
							<p>Recomendaciones según los usuarios que sigues</p>
						</div>
					</div>

					<div class="landing-results-recomendations">
						<div class="row justify-content-md-center">
							<% @friends_trips.each do |trip| %>
								<div class="col col-lg-3 landing-results-recomendations-box-dark">
									<% if trip.image_url %>
	              						<%= image_tag("#{trip.image_url}") %>
									<% elsif trip.image %>
										<%= image_tag(trip.image) %>
									<% else %>
			                			<%= image_tag("local/no-image-available.png") %>
			                		<% end %>

									<hr>
									<p class="result-info">
										<div class="row justify-content-between">
											<div class="col-8">
												<%= link_to trip, style:"text-decoration: none" do %>
													<b><p class="result-info-title" style="text-decoration: none; color: white;"><%= trip.title %></p></b>
												<% end %>
											</div>
											<div class="col-4">
												<p class="result-info-price"><%= trip.price %> €</p>
											</div>
										</div>
									</p>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>

		<!----------------------------------------------------------->
		<!---------------- Queremos saber tu opinión ---------------->
		<!----------------------------------------------------------->

		<% if user_signed_in?%>

			<div id="surveycontainer">
				<div class="landing-user-survey-container">
					<div class="row">
						<div class="col-8">
							<div class="landing-user-survey-description-container-dark">
								<p class="landing-user-survey-title-dark">Queremos saber tu opinión </p>
								<p class="landing-user-survey-description-text">¿Cuál es tu satisfacción con zytrip y los resultados obtenidos de las distintas recomendaciones?</p>

								<div class="landing-user-survey-btn-dark">
									<text onclick="show_survey_form()", id="surveybtn", class="landing-user-survey-btn-link">Realizar encuesta</text>
								</div>
							</div>
						</div>

						<div class="col-4">
							<%= image_tag("local/survey.png") %>
						</div>
					</div>
				</div>
			</div>

			<div id="surveyform">
				<div class="landing-user-survey-form-container">
					<div class="landing-user-survey-form-description-container-dark">
						<p class="landing-user-survey-title-dark text-center">Queremos saber tu opinión </p>

				        <% @survey = Survey.new() %>
				        <%= form_tag surveys_path(@survey), :method => 'post' do %>
					        <div class="row">
					            <div class="col-md-12 mb-3">
					            	<label class="create-review-trip-form-label"><text class="landing-user-survey-form-step"> -> </text>Satisfacción con los resultados obtenidos de las distintas recomendaciones:</label>
					              	<i class="far fa-star" aria-hidden="true" id="r_s1" onclick="r_s1_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="r_s2" onclick="r_s2_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="r_s3" onclick="r_s3_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="r_s4" onclick="r_s4_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="r_s5" onclick="r_s5_click()"></i>
					              	<input name="results_rating" type="hidden" id="results_rating">
					            </div>
					        </div>

					        <div class="row">
					            <div class="col-md-12 mb-3">
					            	<label class="create-review-trip-form-label"><text class="landing-user-survey-form-step"> -> </text>¿Cómo valorarías la búsqueda interactiva que ofrece Zytrip?:</label>
					              	<i class="far fa-star" aria-hidden="true" id="p_s1" onclick="p_s1_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="p_s2" onclick="p_s2_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="p_s3" onclick="p_s3_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="p_s4" onclick="p_s4_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="p_s5" onclick="p_s5_click()"></i>
					              	<input name="preferences_poll_rating" type="hidden" id="preferences_poll_rating">
					            </div>
					        </div>

					        <div class="row">
					            <div class="col-md-12 mb-3">
					            	<label class="create-review-trip-form-label"><text class="landing-user-survey-form-step"> -> </text>Valoración general de Zytrip:</label>
					              	<i class="far fa-star" aria-hidden="true" id="z_s1" onclick="z_s1_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="z_s2" onclick="z_s2_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="z_s3" onclick="z_s3_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="z_s4" onclick="z_s4_click()"></i>
					              	<i class="far fa-star" aria-hidden="true" id="z_s5" onclick="z_s5_click()"></i>
					              	<input name="zytrip_rating" type="hidden" id="zytrip_rating">
					            </div>
					        </div>

					        <div class="row">
					            <div class="col-md-11 mb-3">
					              	<label class="create-review-trip-form-label"><text class="landing-user-survey-form-step"> -> </text>Puedes dejar una valoración, pregunta o cualquier mejora que te gustaría ver en nuestras futuras versiones</label>
					              	<%= text_area_tag :comment, params[:comment], class:"landing-user-survey-form-comment-area", autofocus: true %>
					            </div>
					        </div>

					        <div class="landing-user-survey-form-btns">
					            <div class="row justify-content-center">
					              	<div class="col-4 text-center">
					                	<%= submit_tag "Publicar valoración", class: "landing-user-survey-form-submit-btn-dark", onclick:"set_ratings_values();" %>
					              	</div>
					            </div>
					        </div>
					    <% end %>
					</div>
				</div>
	      	</div>
		<% end %>

		<!----------------------------------------------------------->
		<!------------- Búsqueda interactiva parámetros ------------->
		<!----------------------------------------------------------->

		<div class="landing-form-container">
			<div class="landing-form-section-dark">
				<div class="landing-form-section-info">
					<h2>Zytrip te facilita tu búsqueda</h2><br>
					<p>
						Sabes que quieres viajar, pero ¿no te decides o no encuentras el viaje que se adapte a tus necesidades?
						Te facilitamos un proceso interactivo para conseguir el mejor de los resultados, y que de esta forma, puedas encontrar tu viaje ideal
					</p>
					<div class="landing-form-info-btn-dark">
						<%=link_to 'Pruébalo', preferences_poll_path, class:"landing-form-info-btn-link-dark"%>
					</div>
				</div>
			</div>
		</div>

	</div>
	
<% end %>

<!-- Funciones javascript -->

<script type="text/javascript">

	document.getElementById('surveycontainer').style.display = 'block';
  	document.getElementById('surveyform').style.display = 'none';

	/////////////////////////////////////////////
	// Change dynamic info and styles
	/////////////////////////////////////////////

  	function hide_recommendation(){
  		if(document.getElementById('recommendation').style.display == 'block'){
  			document.getElementById('recommendation').style.display == 'none';
  		}
  	}

	function show_survey_form(){
	    if(document.getElementById('surveyform').style.display == 'none'){
	        document.getElementById('surveyform').style.display = 'block';
	        document.getElementById('surveycontainer').style.display = 'none';
	    }
	}

	/////////////////////////////////////////////
	// Survey star results inputs styles onclick
	/////////////////////////////////////////////

	function r_s1_click(){
		if(document.getElementById('r_s1').className == "far fa-star"){
			document.getElementById('r_s1').className = "fas fa-star";
			document.getElementById('r_s1').style.color = "#7239fb";
			document.getElementById('r_s2').className = "far fa-star";
			document.getElementById('r_s2').style.color = "black";
			document.getElementById('r_s3').className = "far fa-star";
			document.getElementById('r_s3').style.color = "black";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}else if ((document.getElementById('r_s2').className == "fas fa-star") || (document.getElementById('r_s3').className == "fas fa-star") || (document.getElementById('r_s4').className == "fas fa-star") || (document.getElementById('r_s5').className == "fas fa-star")) {
			document.getElementById('r_s1').className = "fas fa-star";
			document.getElementById('r_s1').style.color = "#7239fb";
			document.getElementById('r_s2').className = "far fa-star";
			document.getElementById('r_s2').style.color = "black";
			document.getElementById('r_s3').className = "far fa-star";
			document.getElementById('r_s3').style.color = "black";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}else{
			document.getElementById('r_s1').className = "far fa-star";
			document.getElementById('r_s1').style.color = "black";
			document.getElementById('r_s2').className = "far fa-star";
			document.getElementById('r_s2').style.color = "black";
			document.getElementById('r_s3').className = "far fa-star";
			document.getElementById('r_s3').style.color = "black";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}
	}

	function r_s2_click(){
		if(document.getElementById('r_s2').className == "far fa-star"){
			document.getElementById('r_s1').className = "fas fa-star";
			document.getElementById('r_s1').style.color = "#7239fb";
			document.getElementById('r_s2').className = "fas fa-star";
			document.getElementById('r_s2').style.color = "#7239fb";
			document.getElementById('r_s3').className = "far fa-star";
			document.getElementById('r_s3').style.color = "black";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}else if ((document.getElementById('r_s3').className == "fas fa-star") || (document.getElementById('r_s4').className == "fas fa-star") || (document.getElementById('r_s5').className == "fas fa-star")) {
			document.getElementById('r_s1').className = "fas fa-star";
			document.getElementById('r_s1').style.color = "#7239fb";
			document.getElementById('r_s2').className = "fas fa-star";
			document.getElementById('r_s2').style.color = "#7239fb";
			document.getElementById('r_s3').className = "far fa-star";
			document.getElementById('r_s3').style.color = "black";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}else{
			document.getElementById('r_s1').className = "far fa-star";
			document.getElementById('r_s1').style.color = "black";
			document.getElementById('r_s2').className = "far fa-star";
			document.getElementById('r_s2').style.color = "black";
			document.getElementById('r_s3').className = "far fa-star";
			document.getElementById('r_s3').style.color = "black";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}
	}

	function r_s3_click(){
		if(document.getElementById('r_s3').className == "far fa-star"){
			document.getElementById('r_s1').className = "fas fa-star";
			document.getElementById('r_s1').style.color = "#7239fb";
			document.getElementById('r_s2').className = "fas fa-star";
			document.getElementById('r_s2').style.color = "#7239fb";
			document.getElementById('r_s3').className = "fas fa-star";
			document.getElementById('r_s3').style.color = "#7239fb";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}else if ((document.getElementById('r_s4').className == "fas fa-star") || (document.getElementById('r_s5').className == "fas fa-star")) {
			document.getElementById('r_s1').className = "fas fa-star";
			document.getElementById('r_s1').style.color = "#7239fb";
			document.getElementById('r_s2').className = "fas fa-star";
			document.getElementById('r_s2').style.color = "#7239fb";
			document.getElementById('r_s3').className = "fas fa-star";
			document.getElementById('r_s3').style.color = "#7239fb";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}else{
			document.getElementById('r_s1').className = "far fa-star";
			document.getElementById('r_s1').style.color = "black";
			document.getElementById('r_s2').className = "far fa-star";
			document.getElementById('r_s2').style.color = "black";
			document.getElementById('r_s3').className = "far fa-star";
			document.getElementById('r_s3').style.color = "black";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}
	}

	function r_s4_click(){
		if(document.getElementById('r_s4').className == "far fa-star"){
			document.getElementById('r_s1').className = "fas fa-star";
			document.getElementById('r_s1').style.color = "#7239fb";
			document.getElementById('r_s2').className = "fas fa-star";
			document.getElementById('r_s2').style.color = "#7239fb";
			document.getElementById('r_s3').className = "fas fa-star";
			document.getElementById('r_s3').style.color = "#7239fb";
			document.getElementById('r_s4').className = "fas fa-star";
			document.getElementById('r_s4').style.color = "#7239fb";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}else if (document.getElementById('r_s5').className == "fas fa-star") {
			document.getElementById('r_s1').className = "fas fa-star";
			document.getElementById('r_s1').style.color = "#7239fb";
			document.getElementById('r_s2').className = "fas fa-star";
			document.getElementById('r_s2').style.color = "#7239fb";
			document.getElementById('r_s3').className = "fas fa-star";
			document.getElementById('r_s3').style.color = "#7239fb";
			document.getElementById('r_s4').className = "fas fa-star";
			document.getElementById('r_s4').style.color = "#7239fb";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}else{
			document.getElementById('r_s1').className = "far fa-star";
			document.getElementById('r_s1').style.color = "black";
			document.getElementById('r_s2').className = "far fa-star";
			document.getElementById('r_s2').style.color = "black";
			document.getElementById('r_s3').className = "far fa-star";
			document.getElementById('r_s3').style.color = "black";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}
	}

	function r_s5_click(){
		if(document.getElementById('r_s5').className == "far fa-star"){
			document.getElementById('r_s1').className = "fas fa-star";
			document.getElementById('r_s1').style.color = "#7239fb";
			document.getElementById('r_s2').className = "fas fa-star";
			document.getElementById('r_s2').style.color = "#7239fb";
			document.getElementById('r_s3').className = "fas fa-star";
			document.getElementById('r_s3').style.color = "#7239fb";
			document.getElementById('r_s4').className = "fas fa-star";
			document.getElementById('r_s4').style.color = "#7239fb";
			document.getElementById('r_s5').className = "fas fa-star";
			document.getElementById('r_s5').style.color = "#7239fb";
		}else{
			document.getElementById('r_s1').className = "far fa-star";
			document.getElementById('r_s1').style.color = "black";
			document.getElementById('r_s2').className = "far fa-star";
			document.getElementById('r_s2').style.color = "black";
			document.getElementById('r_s3').className = "far fa-star";
			document.getElementById('r_s3').style.color = "black";
			document.getElementById('r_s4').className = "far fa-star";
			document.getElementById('r_s4').style.color = "black";
			document.getElementById('r_s5').className = "far fa-star";
			document.getElementById('r_s5').style.color = "black";
		}
	}

	/////////////////////////////////////////////
	// Survey star poll inputs styles onclick
	/////////////////////////////////////////////

	function p_s1_click(){
		if(document.getElementById('p_s1').className == "far fa-star"){
			document.getElementById('p_s1').className = "fas fa-star";
			document.getElementById('p_s1').style.color = "#7239fb";
			document.getElementById('p_s2').className = "far fa-star";
			document.getElementById('p_s2').style.color = "black";
			document.getElementById('p_s3').className = "far fa-star";
			document.getElementById('p_s3').style.color = "black";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}else if ((document.getElementById('p_s2').className == "fas fa-star") || (document.getElementById('p_s3').className == "fas fa-star") || (document.getElementById('p_s4').className == "fas fa-star") || (document.getElementById('p_s5').className == "fas fa-star")) {
			document.getElementById('p_s1').className = "fas fa-star";
			document.getElementById('p_s1').style.color = "#7239fb";
			document.getElementById('p_s2').className = "far fa-star";
			document.getElementById('p_s2').style.color = "black";
			document.getElementById('p_s3').className = "far fa-star";
			document.getElementById('p_s3').style.color = "black";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}else{
			document.getElementById('p_s1').className = "far fa-star";
			document.getElementById('p_s1').style.color = "black";
			document.getElementById('p_s2').className = "far fa-star";
			document.getElementById('p_s2').style.color = "black";
			document.getElementById('p_s3').className = "far fa-star";
			document.getElementById('p_s3').style.color = "black";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}
	}

	function p_s2_click(){
		if(document.getElementById('p_s2').className == "far fa-star"){
			document.getElementById('p_s1').className = "fas fa-star";
			document.getElementById('p_s1').style.color = "#7239fb";
			document.getElementById('p_s2').className = "fas fa-star";
			document.getElementById('p_s2').style.color = "#7239fb";
			document.getElementById('p_s3').className = "far fa-star";
			document.getElementById('p_s3').style.color = "black";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}else if ((document.getElementById('p_s3').className == "fas fa-star") || (document.getElementById('p_s4').className == "fas fa-star") || (document.getElementById('p_s5').className == "fas fa-star")) {
			document.getElementById('p_s1').className = "fas fa-star";
			document.getElementById('p_s1').style.color = "#7239fb";
			document.getElementById('p_s2').className = "fas fa-star";
			document.getElementById('p_s2').style.color = "#7239fb";
			document.getElementById('p_s3').className = "far fa-star";
			document.getElementById('p_s3').style.color = "black";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}else{
			document.getElementById('p_s1').className = "far fa-star";
			document.getElementById('p_s1').style.color = "black";
			document.getElementById('p_s2').className = "far fa-star";
			document.getElementById('p_s2').style.color = "black";
			document.getElementById('p_s3').className = "far fa-star";
			document.getElementById('p_s3').style.color = "black";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}
	}

	function p_s3_click(){
		if(document.getElementById('p_s3').className == "far fa-star"){
			document.getElementById('p_s1').className = "fas fa-star";
			document.getElementById('p_s1').style.color = "#7239fb";
			document.getElementById('p_s2').className = "fas fa-star";
			document.getElementById('p_s2').style.color = "#7239fb";
			document.getElementById('p_s3').className = "fas fa-star";
			document.getElementById('p_s3').style.color = "#7239fb";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}else if ((document.getElementById('p_s4').className == "fas fa-star") || (document.getElementById('p_s5').className == "fas fa-star")) {
			document.getElementById('p_s1').className = "fas fa-star";
			document.getElementById('p_s1').style.color = "#7239fb";
			document.getElementById('p_s2').className = "fas fa-star";
			document.getElementById('p_s2').style.color = "#7239fb";
			document.getElementById('p_s3').className = "fas fa-star";
			document.getElementById('p_s3').style.color = "#7239fb";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}else{
			document.getElementById('p_s1').className = "far fa-star";
			document.getElementById('p_s1').style.color = "black";
			document.getElementById('p_s2').className = "far fa-star";
			document.getElementById('p_s2').style.color = "black";
			document.getElementById('p_s3').className = "far fa-star";
			document.getElementById('p_s3').style.color = "black";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}
	}

	function p_s4_click(){
		if(document.getElementById('p_s4').className == "far fa-star"){
			document.getElementById('p_s1').className = "fas fa-star";
			document.getElementById('p_s1').style.color = "#7239fb";
			document.getElementById('p_s2').className = "fas fa-star";
			document.getElementById('p_s2').style.color = "#7239fb";
			document.getElementById('p_s3').className = "fas fa-star";
			document.getElementById('p_s3').style.color = "#7239fb";
			document.getElementById('p_s4').className = "fas fa-star";
			document.getElementById('p_s4').style.color = "#7239fb";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}else if (document.getElementById('p_s5').className == "fas fa-star") {
			document.getElementById('p_s1').className = "fas fa-star";
			document.getElementById('p_s1').style.color = "#7239fb";
			document.getElementById('p_s2').className = "fas fa-star";
			document.getElementById('p_s2').style.color = "#7239fb";
			document.getElementById('p_s3').className = "fas fa-star";
			document.getElementById('p_s3').style.color = "#7239fb";
			document.getElementById('p_s4').className = "fas fa-star";
			document.getElementById('p_s4').style.color = "#7239fb";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}else{
			document.getElementById('p_s1').className = "far fa-star";
			document.getElementById('p_s1').style.color = "black";
			document.getElementById('p_s2').className = "far fa-star";
			document.getElementById('p_s2').style.color = "black";
			document.getElementById('p_s3').className = "far fa-star";
			document.getElementById('p_s3').style.color = "black";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}
	}

	function p_s5_click(){
		if(document.getElementById('p_s5').className == "far fa-star"){
			document.getElementById('p_s1').className = "fas fa-star";
			document.getElementById('p_s1').style.color = "#7239fb";
			document.getElementById('p_s2').className = "fas fa-star";
			document.getElementById('p_s2').style.color = "#7239fb";
			document.getElementById('p_s3').className = "fas fa-star";
			document.getElementById('p_s3').style.color = "#7239fb";
			document.getElementById('p_s4').className = "fas fa-star";
			document.getElementById('p_s4').style.color = "#7239fb";
			document.getElementById('p_s5').className = "fas fa-star";
			document.getElementById('p_s5').style.color = "#7239fb";
		}else{
			document.getElementById('p_s1').className = "far fa-star";
			document.getElementById('p_s1').style.color = "black";
			document.getElementById('p_s2').className = "far fa-star";
			document.getElementById('p_s2').style.color = "black";
			document.getElementById('p_s3').className = "far fa-star";
			document.getElementById('p_s3').style.color = "black";
			document.getElementById('p_s4').className = "far fa-star";
			document.getElementById('p_s4').style.color = "black";
			document.getElementById('p_s5').className = "far fa-star";
			document.getElementById('p_s5').style.color = "black";
		}
	}

	/////////////////////////////////////////////
	// Survey star zytrip inputs styles onclick
	/////////////////////////////////////////////

	function z_s1_click(){
		if(document.getElementById('z_s1').className == "far fa-star"){
			document.getElementById('z_s1').className = "fas fa-star";
			document.getElementById('z_s1').style.color = "#7239fb";
			document.getElementById('z_s2').className = "far fa-star";
			document.getElementById('z_s2').style.color = "black";
			document.getElementById('z_s3').className = "far fa-star";
			document.getElementById('z_s3').style.color = "black";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}else if ((document.getElementById('z_s2').className == "fas fa-star") || (document.getElementById('z_s3').className == "fas fa-star") || (document.getElementById('z_s4').className == "fas fa-star") || (document.getElementById('z_s5').className == "fas fa-star")) {
			document.getElementById('z_s1').className = "fas fa-star";
			document.getElementById('z_s1').style.color = "#7239fb";
			document.getElementById('z_s2').className = "far fa-star";
			document.getElementById('z_s2').style.color = "black";
			document.getElementById('z_s3').className = "far fa-star";
			document.getElementById('z_s3').style.color = "black";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}else{
			document.getElementById('z_s1').className = "far fa-star";
			document.getElementById('z_s1').style.color = "black";
			document.getElementById('z_s2').className = "far fa-star";
			document.getElementById('z_s2').style.color = "black";
			document.getElementById('z_s3').className = "far fa-star";
			document.getElementById('z_s3').style.color = "black";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}
	}

	function z_s2_click(){
		if(document.getElementById('z_s2').className == "far fa-star"){
			document.getElementById('z_s1').className = "fas fa-star";
			document.getElementById('z_s1').style.color = "#7239fb";
			document.getElementById('z_s2').className = "fas fa-star";
			document.getElementById('z_s2').style.color = "#7239fb";
			document.getElementById('z_s3').className = "far fa-star";
			document.getElementById('z_s3').style.color = "black";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}else if ((document.getElementById('z_s3').className == "fas fa-star") || (document.getElementById('z_s4').className == "fas fa-star") || (document.getElementById('z_s5').className == "fas fa-star")) {
			document.getElementById('z_s1').className = "fas fa-star";
			document.getElementById('z_s1').style.color = "#7239fb";
			document.getElementById('z_s2').className = "fas fa-star";
			document.getElementById('z_s2').style.color = "#7239fb";
			document.getElementById('z_s3').className = "far fa-star";
			document.getElementById('z_s3').style.color = "black";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}else{
			document.getElementById('z_s1').className = "far fa-star";
			document.getElementById('z_s1').style.color = "black";
			document.getElementById('z_s2').className = "far fa-star";
			document.getElementById('z_s2').style.color = "black";
			document.getElementById('z_s3').className = "far fa-star";
			document.getElementById('z_s3').style.color = "black";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}
	}

	function z_s3_click(){
		if(document.getElementById('z_s3').className == "far fa-star"){
			document.getElementById('z_s1').className = "fas fa-star";
			document.getElementById('z_s1').style.color = "#7239fb";
			document.getElementById('z_s2').className = "fas fa-star";
			document.getElementById('z_s2').style.color = "#7239fb";
			document.getElementById('z_s3').className = "fas fa-star";
			document.getElementById('z_s3').style.color = "#7239fb";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}else if ((document.getElementById('z_s4').className == "fas fa-star") || (document.getElementById('z_s5').className == "fas fa-star")) {
			document.getElementById('z_s1').className = "fas fa-star";
			document.getElementById('z_s1').style.color = "#7239fb";
			document.getElementById('z_s2').className = "fas fa-star";
			document.getElementById('z_s2').style.color = "#7239fb";
			document.getElementById('z_s3').className = "fas fa-star";
			document.getElementById('z_s3').style.color = "#7239fb";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}else{
			document.getElementById('z_s1').className = "far fa-star";
			document.getElementById('z_s1').style.color = "black";
			document.getElementById('z_s2').className = "far fa-star";
			document.getElementById('z_s2').style.color = "black";
			document.getElementById('z_s3').className = "far fa-star";
			document.getElementById('z_s3').style.color = "black";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}
	}

	function z_s4_click(){
		if(document.getElementById('z_s4').className == "far fa-star"){
			document.getElementById('z_s1').className = "fas fa-star";
			document.getElementById('z_s1').style.color = "#7239fb";
			document.getElementById('z_s2').className = "fas fa-star";
			document.getElementById('z_s2').style.color = "#7239fb";
			document.getElementById('z_s3').className = "fas fa-star";
			document.getElementById('z_s3').style.color = "#7239fb";
			document.getElementById('z_s4').className = "fas fa-star";
			document.getElementById('z_s4').style.color = "#7239fb";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}else if (document.getElementById('z_s5').className == "fas fa-star") {
			document.getElementById('z_s1').className = "fas fa-star";
			document.getElementById('z_s1').style.color = "#7239fb";
			document.getElementById('z_s2').className = "fas fa-star";
			document.getElementById('z_s2').style.color = "#7239fb";
			document.getElementById('z_s3').className = "fas fa-star";
			document.getElementById('z_s3').style.color = "#7239fb";
			document.getElementById('z_s4').className = "fas fa-star";
			document.getElementById('z_s4').style.color = "#7239fb";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}else{
			document.getElementById('z_s1').className = "far fa-star";
			document.getElementById('z_s1').style.color = "black";
			document.getElementById('z_s2').className = "far fa-star";
			document.getElementById('z_s2').style.color = "black";
			document.getElementById('z_s3').className = "far fa-star";
			document.getElementById('z_s3').style.color = "black";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}
	}

	function z_s5_click(){
		if(document.getElementById('z_s5').className == "far fa-star"){
			document.getElementById('z_s1').className = "fas fa-star";
			document.getElementById('z_s1').style.color = "#7239fb";
			document.getElementById('z_s2').className = "fas fa-star";
			document.getElementById('z_s2').style.color = "#7239fb";
			document.getElementById('z_s3').className = "fas fa-star";
			document.getElementById('z_s3').style.color = "#7239fb";
			document.getElementById('z_s4').className = "fas fa-star";
			document.getElementById('z_s4').style.color = "#7239fb";
			document.getElementById('z_s5').className = "fas fa-star";
			document.getElementById('z_s5').style.color = "#7239fb";
		}else{
			document.getElementById('z_s1').className = "far fa-star";
			document.getElementById('z_s1').style.color = "black";
			document.getElementById('z_s2').className = "far fa-star";
			document.getElementById('z_s2').style.color = "black";
			document.getElementById('z_s3').className = "far fa-star";
			document.getElementById('z_s3').style.color = "black";
			document.getElementById('z_s4').className = "far fa-star";
			document.getElementById('z_s4').style.color = "black";
			document.getElementById('z_s5').className = "far fa-star";
			document.getElementById('z_s5').style.color = "black";
		}
	}

	function get_r_stars(){
		if(document.getElementById('r_s5').className == "fas fa-star"){
			return 5;
		}else if(document.getElementById('r_s4').className == "fas fa-star"){
			return 4;
		}else if(document.getElementById('r_s3').className == "fas fa-star"){
			return 3;
		}else if(document.getElementById('r_s2').className == "fas fa-star"){
			return 2;
		}else if(document.getElementById('r_s1').className == "fas fa-star"){
			return 1;
		}else{
			return 0;
		}
	}

	function get_p_stars(){
		if(document.getElementById('p_s5').className == "fas fa-star"){
			return 5;
		}else if(document.getElementById('p_s4').className == "fas fa-star"){
			return 4;
		}else if(document.getElementById('p_s3').className == "fas fa-star"){
			return 3;
		}else if(document.getElementById('p_s2').className == "fas fa-star"){
			return 2;
		}else if(document.getElementById('p_s1').className == "fas fa-star"){
			return 1;
		}else{
			return 0;
		}
	}

	function get_z_stars(){
		if(document.getElementById('z_s5').className == "fas fa-star"){
			return 5;
		}else if(document.getElementById('z_s4').className == "fas fa-star"){
			return 4;
		}else if(document.getElementById('z_s3').className == "fas fa-star"){
			return 3;
		}else if(document.getElementById('z_s2').className == "fas fa-star"){
			return 2;
		}else if(document.getElementById('z_s1').className == "fas fa-star"){
			return 1;
		}else{
			return 0;
		}
	}

	function set_ratings_values(){
		document.getElementById('results_rating').value = get_r_stars();
		document.getElementById('preferences_poll_rating').value = get_p_stars();
		document.getElementById('zytrip_rating').value = get_z_stars();
	}


</script>

<%= render "layouts/footer" %>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>