<%= render "layouts/header" %>
<div class="main-landing">
	<div class="landing-title-container">
		<div class="landing-title">
			Zytrip
		</div>
		<div class="landing-description">
			Encuentra el viaje que estás buscando
		</div>
		<div class="landing-steps">
			<div class="row justify-content-md-center">
				<div class="col col-lg-3 landing-steps-col">
					<i class="fas fa-list"></i>
					<p> 1. Puedes elegir tu viaje entre una gran selección de destinos posibles
					</p>
				</div>

				<div class="col col-lg-3 landing-steps-col">
					<i class="fas fa-plane"></i>
					<p> 2. Tendrás a tu disposición una lista de los viajes más populares y recomendados
					</p>
				</div>

				<div class="col col-lg-3 landing-steps-col">
					<i class="fas fa-wrench"></i>
					3. Te ofrecemos una herramienta para encontrar tu viaje ideal
				</div>
			</div>
		</div>
	</div>

	<div class="landing-results">
		<div class="landing-results-info ">
			<div class="landing-results-info-text">
				<h2>Nuestros destinos más populares</h2>
				<p>Recomendaciones resultantes de los viajes con mejor valoración</p>
			</div>

			<div class="landing-results-info-btn">
				<%=link_to 'Ver todos', trips_path, class:"landing-results-info-btn-link"%>
			</div>
		</div>

		<div class="landing-results-recomendations">
			<div class="row justify-content-md-center">
				<% @popular_trips.each do |trip| %>
					<div class="col col-lg-3 landing-results-recomendations-box">
						<% if trip.image %>
							<%= image_tag(trip.image) %>
						<% else %>
                			<%= image_tag("local/no-image-available.png") %>
                		<% end %>

						<hr>
						<p class="result-info">
							<div class="row justify-content-between">
								<div class="col-8">
									<p class="result-info-title"><%= trip.title %></p>
								</div>
								<div class="col-4">
									<p class="result-info-price"><%= trip.price %> €</p>
								</div>
							</div>
						</p>
					</div>
				<% end %>
			</div>
		</div>

		<% if @trips_recomendated && (@user.trips.size > 0) %>
			<div class="landing-results-info ">
				<div class="landing-results-info-text">
					<h2>Destinos que podrían interesarte</h2>
					<p>Recomendaciones resultantes de tu actividad y valoración en los viajes</p>
				</div>
			</div>

			<div class="landing-results-recomendations">
				<div class="row justify-content-md-center">
					<% @trips_recomendated.each do |trip| %>
						<div class="col col-lg-3 landing-results-recomendations-box">
							<% if trip.image %>
								<%= image_tag(trip.image) %>
							<% else %>
	                			<%= image_tag("local/no-image-available.png") %>
	                		<% end %>

							<hr>
							<p class="result-info">
								<div class="row justify-content-between">
									<div class="col-8">
										<p class="result-info-title"><%= trip.title %></p>
									</div>
									<div class="col-4">
										<p class="result-info-price"><%= trip.price %> €</p>
									</div>
								</div>
							</p>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="landing-form-container">
		<div class="landing-form-section">
			<div class="landing-form-section-info">
				<h2>Zytrip te facilita tu viaje</h2><br>
				<p>
					Sabes que quieres viajar, pero ¿no te decides o no encuentras el viaje que se adapte a tus necesidades?
					Te facilitamos un proceso interactivo para conseguir el mejor de los resultados, y de esta forma, puedas encontrar tu viaje ideal
				</p>
				<div class="landing-form-info-btn">
					<%=link_to 'Pruébalo', trips_research_survey_path, class:"landing-form-info-btn-link"%>
				</div>
			</div>
		</div>
	</div>

</div>

<%= render "layouts/footer" %>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>