
<div class="row">
  <div class="col-md-12 mb-3">
    <%= f.label(:title, "Elige el título principal para tu viaje", class:"create-edit-trip-form-label") %>
    <%= f.text_field :title, class:"create-edit-trip-form-input", autofocus: true, required: true %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= f.label(:subtitle, "Piensa en un titular que pueda llamar la atención de los usuarios", class:"create-edit-trip-form-label") %>
    <%= f.text_field :subtitle, class:"create-edit-trip-form-input", autofocus: true %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= f.label(:image_url, "¿Quieres asociar una imagen a tu viaje?", class:"create-edit-trip-form-label") %>
    <%= f.text_field :image_url, class:"create-edit-trip-form-input", autofocus: true, placeholder:"Pega aquí la dirección URL de la imagen que quieras poner" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= f.label(:description, "Cuenta a los demás usuarios cómo fue tu experiencia (hotel, actividades...)", class:"create-edit-trip-form-label") %>
    <%= f.text_area :description, class:"create-edit-trip-form-description", autofocus: true, placeholder:"Este campo de texto utiliza un formato html, por lo que cada párrafo te pedimos que lo escribas con la notación: \n <p>esto sería un párrafo</p>. <p>nuevo párrafo</p>. \n\nEstamos trabajando en mejorar esto, rogamos disculpe las molestias." %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <%= f.label(:price, "Precio aproximado (€): ", class:"create-edit-trip-form-label") %>
    <%= f.text_field :price, class:"create-edit-trip-form-input-short", autofocus: true, required: true %>
  </div>
</div>