<%= render "layouts/header" %>

<% if session[:theme] == "light" %>
  <section>
    <div class="create-edit-trip">
      <div class="navigation-routes" style="background-color: #b1f2af">
          <ol>
              <li><%= link_to 'Zytrip', root_path, class:"navigation-routes-link", style:"color: #33e12d" %></li>
              <li>Cuéntanos tu experiencia</li>
          </ol>
      </div>

      <div class="create-edit-trip-box">
        <h2 class="create-edit-trip-title">Cuéntanos tu experiencia</h2>
        <%= form_for(@trip, url: trips_path(@trip)) do |f| %>
          <%= render partial: "user_trip_form_fields", :locals => {:f => f} %>
          <div class="create-edit-trip-btns">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 text-center create-edit-trip-form-cancel-btn">
                <%= link_to "Volver", :back, class: "create-edit-trip-form-cancel-link" %>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 text-center ">
                <%= f.submit "Siguiente", class: "create-edit-trip-form-submit-btn" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% else %>
  <section>
    <div class="create-edit-trip-dark">
      <div class="navigation-routes" style="background-color: #b1f2af">
          <ol>
              <li><%= link_to 'Zytrip', root_path, class:"navigation-routes-link", style:"color: #33e12d" %></li>
              <li style="color: black">Cuéntanos tu experiencia</li>
          </ol>
      </div>

      <div class="create-edit-trip-box-dark">
        <h2 class="create-edit-trip-title">Cuéntanos tu experiencia</h2>
        <%= form_for(@trip, url: trips_path(@trip)) do |f| %>
          <%= render partial: "user_trip_form_fields", :locals => {:f => f} %>
          <div class="create-edit-trip-btns">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 text-center create-edit-trip-form-cancel-btn">
                <%= link_to "Volver", :back, class: "create-edit-trip-form-cancel-link" %>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 text-center ">
                <%= f.submit "Siguiente", class: "create-edit-trip-form-submit-btn" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<%= render "layouts/footer" %>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>