<%= render "layouts/header" %>
<% if session[:theme] == "light" %>
  <div class="trip-main">
    <div class="navigation-routes-dark">
      <ol>
          <li><%= link_to 'Zytrip', root_path, class:"navigation-routes-link" %></li>
          <li><%= link_to 'Viajes', trips_path, class:"navigation-routes-link" %></li>
          <li style="color: black;"><%= @trip.title %></li>
      </ol>
    </div>

    <div class="trip-main-container-outside">
      <div class="trip-main-container">
        <div class="row trip-main-box">
          <div class="col">
              <% if @trip.image_url %>
                <%= image_tag("#{@trip.image_url}") %>
              <% elsif @trip.image %>
                <%= image_tag(@trip.image) %>
              <% else %>
                  <%= image_tag("local/no-image-available.png") %>
              <% end %>
          </div>
          <div class="col">
              <div class="trip-main-box-title">
                <p><b><%=@trip.title%></b></p>
              </div>

              <div class="trip-main-box-subtitle">
                <p><b><%=@trip.subtitle%></b></p>
              </div>

              <div class="row trip-main-box-price-container">
                <div class="col-8">
                  <p class="trip-price-info">Desde <b class="trip-price-colored"><%= @trip.price%>€</b></p>
                </div>
                <div class="col-4">
                  <p class="trip-booking-box">RESERVAR</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="trip-about">
      <div class="row">
        <div class="col-3">
          <div class="trip-section">
            <p class="trip-section-title">Organizado por</p>
            <hr>
            <p class="trip-section-info">
              <% if @organizer.additional_information && !(@organizer.additional_information.image_url.nil?)%>
                <%= image_tag("#{@organizer.additional_information.image_url}") %><%= @organizer.name %> <%= @organizer.surname %>
              <% elsif !(@organizer.image.nil?) && !(@organizer.image.empty?) %>
                <% if @organizer.additional_information && !(@organizer.additional_information.phone_number.nil?)%>
                  <%= image_tag(@organizer.image) %> <%= @organizer.name %> <%= @organizer.surname %> (<%= @organizer.additional_information.phone_number %>)
                <% else %>
                  <%= image_tag(@organizer.image) %> <%= @organizer.name %> <%= @organizer.surname %>
                <% end %>
              <% else %>
                <% if @organizer.additional_information && !(@organizer.additional_information.phone_number.nil?)%>
                  <%= image_tag("local/user.jpeg") %> <%= @organizer.name %> <%= @organizer.surname %> (<%= @organizer.additional_information.phone_number %>)
                <% else %>
                  <%= image_tag("local/user.jpeg") %> <%= @organizer.name %> <%= @organizer.surname %>
                <% end %>
              <% end %>
            </p>
          </div>

          <div class="trip-section">
            <p class="trip-section-title">Acerca de esta experiencia</p>
            <hr>
            <p class="trip-section-info"><b>Duración:</b> 5 días</p>
            <p class="trip-section-info"><b>Otra información:</b> No se que poner</p>
          </div> 
        </div>

        <div class="col">
          <div class="trip-itinerary">
            <p class="trip-section-title">Información del viaje</p>
            <hr>
            <p class="trip-section-info"><%= simple_format(@trip.description) %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="trip-ratings">
      <% if @reviews %>
        <p class="trip-section-title">Valoraciones de los usuarios (<%= @reviews.size %>)</p>
      <% else %>
        <p class="trip-section-title">Valoraciones de los usuarios (0)</p>
      <% end %>
      <hr>
      
      <% if @reviews %>
        <% @reviews.each do |review| %>
          <div class="trip-section-review">
            <% if Review.get_user(review).additional_information && !(Review.get_user(review).additional_information.image_url.nil?) %>
                <%= image_tag("#{Review.get_user(review).additional_information.image_url}") %> <%= Review.get_user(review).name %> <%= Review.get_user(review).surname %> <text class="trip-section-review-date"><%= review.created_at.strftime("%d/%m/%Y") %></text>
            <% elsif !(Review.get_user(review).image.nil?) && !(Review.get_user(review).image.empty?) %>
              <%= image_tag(Review.get_user(review).image) %> <%= Review.get_user(review).name %> <%= Review.get_user(review).surname %> <text class="trip-section-review-date"><%= review.created_at.strftime("%d/%m/%Y") %></text>
            <% else %>
                <%= image_tag("local/user.jpeg") %> <%= Review.get_user(review).name %> <%= Review.get_user(review).surname %>
                <text class="trip-section-review-date"><%= review.created_at.strftime("%d/%m/%Y") %></text>
            <% end %>
            <br>

            <% review.rating.round().times do  %>
              <i class="fas fa-star"></i>
            <% end %>

            <% (5 - review.rating.round()).times do %>
              <i class="far fa-star"></i>
            <% end %>

            <% if review.comment %>
              <div class="trip-section-review-comment-container">
                <p><%= review.comment %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        
      <% end %>

      <% if user_signed_in?%>
        <hr>
        <p class="trip-section-title">
          Valora este viaje
          <% if flash[:notice] %>
            <text class="invalid-field-step"><%= flash[:notice] %></text>
          <% end %>
        </p>
        <p class="trip-section-description">Comparte tu opinión acerca de esta experiencia con otros usuarios</p>

        <div id="reviewoption">
          <div class="row">
            <div class="col-4">
              <div class="trip-review-btn">
                <text onclick="show_form()", id="reviewbtn", class="trip-review-btn-link">Cuéntanos tu experiencia</text>
              </div>
            </div>
          </div>
        </div>

        <div id="reviewform">  
          <% @review = Review.new() %>
          <%= form_tag reviews_path(@review), :method => 'post' do %>

            <% if flash[:review_error] %>
              <div class="invalid-field-profile">
                <p><text class="invalid-field-step">-></text><%= flash[:review_error] %></p>        
              </div>
            <% end %>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label class="create-review-trip-form-label">Valoración:<text class="required-star">*</text></label>
                <%= number_field_tag :rating, params[:rating], min: 0, max: 5, value: 0, class:"create-review-trip-form-input-short", autofocus: true, required: true %>
                <%= hidden_field_tag :trip_id, @trip.id %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-11 mb-3">
                <label class="create-review-trip-form-label">Comentario</label>
                <%= text_area_tag :comment, params[:comment], class:"create-review-trip-form-description", autofocus: true %>
              </div>
            </div>

            <div class="create-review-trip-btns">
              <div class="row justify-content-center">
                <div class="col-4">
                  <%= submit_tag "Publicar valoración", class: "create-review-trip-form-submit-btn" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        
      <% end %>
    </div>
  </div>

<% else %>

  <div class="trip-main-dark">
    <div class="navigation-routes-dark">
      <ol>
          <li><%= link_to 'Zytrip', root_path, class:"navigation-routes-link" %></li>
          <li><%= link_to 'Viajes', trips_path, class:"navigation-routes-link" %></li>
          <li style="color: black;"><%= @trip.title %></li>
      </ol>
    </div>

    <div class="trip-main-container-outside-dark">
      <div class="trip-main-container">
        <div class="row trip-main-box-dark">
          <div class="col">
              <% if @trip.image_url %>
                <%= image_tag("#{@trip.image_url}") %>
              <% elsif @trip.image %>
                <%= image_tag(@trip.image) %>
              <% else %>
                  <%= image_tag("local/no-image-available.png") %>
              <% end %>
          </div>
          <div class="col">
              <div class="trip-main-box-title">
                <p><b><%=@trip.title%></b></p>
              </div>

              <div class="trip-main-box-subtitle">
                <p><b><%=@trip.subtitle%></b></p>
              </div>

              <div class="row trip-main-box-price-container">
                <div class="col-8">
                  <p class="trip-price-info">Desde <b class="trip-price-colored"><%= @trip.price%>€</b></p>
                </div>
                <div class="col-4">
                  <p class="trip-booking-box">RESERVAR</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="trip-about">
      <div class="row">
        <div class="col-3">
          <div class="trip-section-dark">
            <p class="trip-section-title-dark">Organizado por</p>
            <hr>
            <p class="trip-section-info">
              <% if @organizer.additional_information && !(@organizer.additional_information.image_url.nil?)%>
                <%= image_tag("#{@organizer.additional_information.image_url}") %><%= @organizer.name %> <%= @organizer.surname %>
              <% elsif !(@organizer.image.nil?) && !(@organizer.image.empty?) %>
                <% if @organizer.additional_information && !(@organizer.additional_information.phone_number.nil?)%>
                  <%= image_tag(@organizer.image) %> <%= @organizer.name %> <%= @organizer.surname %> (<%= @organizer.additional_information.phone_number %>)
                <% else %>
                  <%= image_tag(@organizer.image) %> <%= @organizer.name %> <%= @organizer.surname %>
                <% end %>
              <% else %>
                <% if @organizer.additional_information && !(@organizer.additional_information.phone_number.nil?)%>
                  <%= image_tag("local/user.jpeg") %> <%= @organizer.name %> <%= @organizer.surname %> (<%= @organizer.additional_information.phone_number %>)
                <% else %>
                  <%= image_tag("local/user.jpeg") %> <%= @organizer.name %> <%= @organizer.surname %>
                <% end %>
              <% end %>
            </p>
          </div>

          <div class="trip-section-dark">
            <p class="trip-section-title-dark">Acerca de esta experiencia</p>
            <hr>
            <p class="trip-section-info"><b>Duración:</b> 5 días</p>
            <p class="trip-section-info"><b>Otra información:</b> No se que poner</p>
          </div> 
        </div>

        <div class="col">
          <div class="trip-itinerary-dark">
            <p class="trip-section-title-dark">Información del viaje</p>
            <hr>
            <p class="trip-section-info"><%= simple_format(@trip.description) %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="trip-ratings-dark">
      <% if @reviews %>
        <p class="trip-section-title-dark">Valoraciones de los usuarios (<%= @reviews.size %>)</p>
      <% else %>
        <p class="trip-section-title-dark">Valoraciones de los usuarios (0)</p>
      <% end %>
      <hr>
      
      <% if @reviews %>
        <% @reviews.each do |review| %>
          <div class="trip-section-review">
            <% if Review.get_user(review).additional_information && !(Review.get_user(review).additional_information.image_url.nil?) %>
                <%= image_tag("#{Review.get_user(review).additional_information.image_url}") %> <%= Review.get_user(review).name %> <%= Review.get_user(review).surname %> <text class="trip-section-review-date"><%= review.created_at.strftime("%d/%m/%Y") %></text>
            <% elsif !(Review.get_user(review).image.nil?) && !(Review.get_user(review).image.empty?) %>
              <%= image_tag(Review.get_user(review).image) %> <%= Review.get_user(review).name %> <%= Review.get_user(review).surname %> <text class="trip-section-review-date"><%= review.created_at.strftime("%d/%m/%Y") %></text>
            <% else %>
                <%= image_tag("local/user.jpeg") %> <%= Review.get_user(review).name %> <%= Review.get_user(review).surname %>
                <text class="trip-section-review-date"><%= review.created_at.strftime("%d/%m/%Y") %></text>
            <% end %>
            <br>

            <% review.rating.round().times do  %>
              <i class="fas fa-star" style="color: #d8a64c;"></i>
            <% end %>

            <% (5 - review.rating.round()).times do %>
              <i class="far fa-star"></i>
            <% end %>

            <% if review.comment %>
              <div class="trip-section-review-comment-container">
                <p><%= review.comment %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        
      <% end %>

      <% if user_signed_in?%>
        <hr>
        <p class="trip-section-title-dark">
          Valora este viaje
          <% if flash[:notice] %>
            <text class="invalid-field-step"><%= flash[:notice] %></text>
          <% end %>
        </p>
        <p class="trip-section-description">Comparte tu opinión acerca de esta experiencia con otros usuarios</p>

        <div id="reviewoption">
          <div class="row">
            <div class="col-4">
              <div class="trip-review-btn-dark">
                <text onclick="show_form()", id="reviewbtn", class="trip-review-btn-link-dark">Cuéntanos tu experiencia</text>
              </div>
            </div>
          </div>
        </div>

        <div id="reviewform">  
          <% @review = Review.new() %>
          <%= form_tag reviews_path(@review), :method => 'post' do %>

            <% if flash[:review_error] %>
              <div class="invalid-field-profile">
                <p><text class="invalid-field-step">-></text><%= flash[:review_error] %></p>        
              </div>
            <% end %>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label class="create-review-trip-form-label">Valoración:<text class="required-star">*</text></label>
                <%= number_field_tag :rating, params[:rating], min: 0, max: 5, value: 0, class:"create-review-trip-form-input-short", style:"border: 1px solid white; color: #d8a64c; font-weight: bold;", autofocus: true, required: true %>
                <%= hidden_field_tag :trip_id, @trip.id %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-11 mb-3">
                <label class="create-review-trip-form-label">Comentario</label>
                <%= text_area_tag :comment, params[:comment], class:"create-review-trip-form-description", autofocus: true %>
              </div>
            </div>

            <div class="create-review-trip-btns">
              <div class="row justify-content-center">
                <div class="col-4">
                  <%= submit_tag "Publicar valoración", class: "create-review-trip-form-submit-btn-dark" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        
      <% end %>
    </div>
  </div>
<% end %>

<!-- Funciones javascript -->

<script type="text/javascript">

  document.getElementById('reviewform').style.display = 'none';

  /////////////////////////////////////////////
  // Change dynamic info and styles
  /////////////////////////////////////////////

  function show_form(){
      if(document.getElementById('reviewform').style.display == 'none'){
          document.getElementById('reviewform').style.display = 'block';
          document.getElementById('reviewoption').style.display = 'none';
      }
  }

</script>


<!-- render footer -->
<%= render "layouts/footer" %>


<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>
