<%= render "layouts/header" %>

<div class="main-profile">
    <div class="main-profile-container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-user-container">
                    <% if @user.image_url %>
                        <%= image_tag("#{@user.image_url}", class:"profile-img-center") %>
                    <% elsif @user.image %>
                        <%= image_tag @user.image, class:"profile-img-center" %>
                    <% else %>
                        <%= image_tag "local/user.jpeg", class:"profile-img-center" %>
                    <% end %>
                    
                    <div class="profile-info">
                        <%= @user.name %> <%= @user.surname %>
                    </div>

                    <div class="profile-description">
                        <% if @user.description %>
                            <p> <%= @user.description %> </p>
                        <% else %>
                            <p> Localización usuario </p>
                        <% end %>
                    </div>
                    

                    <% if @user.id == current_user.id %>
                        <div class="profile-edit-btn text-center profile-img-center">
                            <%= link_to "Editar perfil", edit_user_registration_path(@user), class:"profile-edit-btn-link" %>
                        </div>
                    <% elsif !(current_user.friends.include? @user) %>
                        <div class="profile-edit-btn text-center profile-img-center">
                            <%= link_to "Seguir", friendships_add_friend_path(id: @user.id, source:"friend"), class:"profile-edit-btn-link"%>
                        </div>
                    <% else %>
                        <div class="profile-followed-btn text-center profile-img-center">
                            <p class="profile-followed-btn-link">Seguido</p>
                        </div>
                    <% end %>
                </div>

                
                <div class="profile-contact-container">
                    <p class="profile-section-title">Contacto</p>
                    <hr>
                    <div class="profile-contact">
                        <p><%= image_tag "local/telephone.png", class: "profile-contact-icon" %><b>Teléfono:</b> 916543245</p>
                        <p><%= image_tag "local/envelope.png", class: "profile-contact-icon" %><b>Correo:</b> <%= @user.email %></p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="profile-sections-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item profile-selected-option-btn" id="friendsbtn">
                            <p onclick="show_friends()", id="friendsnav", class="profile-btn-text">Amigos</p>
                        </li>
                        <li class="nav-item profile-option-btn" id="tripsbtn">
                            <p onclick="show_trips()", id="tripsnav", class="profile-btn-text">Viajes realizados</p>
                        </li>
                        <li class="nav-item profile-option-btn" id="organizedtripsbtn">
                            <p onclick="show_organized_trips()", id="organizedtripsnav", class="profile-btn-text">Viajes organizados</p>
                        </li>
                    </ul>

                    <!-- #################################################### -->
                    <!-- ################# Seccion Amigos ################### -->
                    <!-- #################################################### -->

                    <div id="friends" class="profile-section">
                        <% if @user.id == current_user.id %>
                            <% if @user.friends.size == 0 %>
                                <p class="profile-section-results text-center"> Tienes <text class="profile-section-results-red"> <%= @user.friends.size %> </text>amigos</p>
                            <% else %>
                                <p class="profile-section-results text-center"> Tienes <text class="profile-section-results-green"> <%= @user.friends.size %> </text>amigos</p>
                            <% end %>
                        <% else %>
                            <% if @user.friends.size == 0 %>
                                <p class="profile-section-results text-center"> El usuario tiene <text class="profile-section-results-red"> <%= @user.friends.size %> </text>amigos</p>
                            <% else %>
                                <p class="profile-section-results text-center"> El usuario tiene <text class="profile-section-results-green"> <%= @user.friends.size %> </text>amigos</p>
                            <% end %>
                        <% end %>

                        <% if @user.friends.size != 0 %>


                            <table class="profile-section-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Amigos</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @user.friends.each do |user| %>
                                        <tr>
                                            <td>
                                                <% if user.image_url %>
                                                    <%= image_tag("#{user.image_url}") %>
                                                <% elsif user.image %>
                                                    <%= image_tag(user.image) %>
                                                <% else %>
                                                    <%= image_tag("local/user.jpeg") %>
                                                <% end %>
                                            </td>

                                            <td>
                                                <% @user_name = user.name + " " + user.surname %>
                                                <%= link_to @user_name, users_profile_path(user.id), class: "result-info-user" %>
                                            </td>

                                            <td>
                                                <% if user.id != current_user.id %>
                                                    <% if !(current_user.friends.include? user) %>
                                                        <div class="row justify-content-md-center">

                                                            <div class="col-12 profile-edit-btn text-center profile-img-center">
                                                                <%= link_to "Seguir", friendships_add_friend_path(id: user.id, source:"list", source_user: @user.id), class:"profile-edit-btn-link"%>
                                                            </div>
                                                        </div>
                                                    <% else %>
                                                        
                                                        <div class="row justify-content-md-center">
                                                            <div class="col-8 profile-followed-btn">
                                                                <p class="profile-followed-btn-link">Seguido</p>
                                                            </div>
                                                            
                                                            <div class="col-3 nav-item dropdown profile-unfollow-btn text-center profile-img-center">
                                                                <% if @user.id == current_user.id %>
                                                                    <%= link_to "x ", friendships_delete_friend_path(id: user.id, source:"mylist"), class:"profile-edit-btn-link", alt:"Dejar de seguir"%>
                                                                <% else %>
                                                                    <%= link_to "x ", friendships_delete_friend_path(id: user.id, source:"list", source_user: @user.id), class:"profile-edit-btn-link", alt:"Dejar de seguir"%>
                                                                <% end %>
                                                            </div>
                                                        </div>
                                                        
                                                    <% end %>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <% end %>
                    </div>

                    <!-- #################################################### -->
                    <!-- ################# Seccion Viajes ################### -->
                    <!-- #################################################### -->

                    <div id="trips" class="profile-section">
                        <% if @user.id == current_user.id %>
                            <% if @user.trips.size == 0 %>
                                <p class="profile-section-results text-center"> Has realizado <text class="profile-section-results-red"> <%= @user.trips.size %> </text>viajes</p>
                            <% else %>
                                <p class="profile-section-results text-center"> Has realizado <text class="profile-section-results-green"> <%= @user.trips.size %> </text>viajes</p>
                            <% end %>
                        <% else %>
                            <% if @user.trips.size == 0 %>
                                <p class="profile-section-results text-center"> El usuario ha realizado <text class="profile-section-results-red"> <%= @user.trips.size %> </text>viajes</p>
                            <% else %>
                                <p class="profile-section-results text-center"> El usuario ha realizado <text class="profile-section-results-green"> <%= @user.trips.size %> </text>viajes</p>
                            <% end %>
                        <% end %>

                        <% if @user.trips.size != 0 %>

                            <table class="profile-section-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Realizados</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @user.trips.each do |trip| %>
                                        <tr>
                                            <td>
                                                <% if trip.image_url %>
                                                    <%= image_tag("#{trip.image_url}") %>
                                                <% elsif trip.image %>
                                                    <%= image_tag(trip.image) %>
                                                <% else %>
                                                    <%= image_tag("local/user.jpeg") %>
                                                <% end %>
                                            </td>

                                            <td>
                                                <%=link_to trip, class:"result-info-user" do%>
                                                    <%=trip.title%>
                                                <% end %>
                                            </td>

                                            <td>
                                                <% trip.rating.round().times do  %>
                                                    <i class="fas fa-star"></i>
                                                <% end %>

                                                <% (5 - trip.rating.round()).times do %>
                                                    <i class="far fa-star"></i>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <% end %>
                    </div>

                    <!-- #################################################### -->
                    <!-- ########### Seccion Viajes Organizados ############# -->
                    <!-- #################################################### -->

                    <div id="organizedtrips" class="profile-section">
                        <% if @user.id == current_user.id %>
                            <% if @organized_trips.size == 0 %>
                                <p class="profile-section-results text-center"> Has organizado <text class="profile-section-results-red"> <%= @organized_trips.size %> </text>viajes</p>
                            <% else %>
                                <p class="profile-section-results text-center"> Has organizado <text class="profile-section-results-green"> <%= @organized_trips.size %> </text>viajes</p>
                            <% end %>
                        <% else %>
                            <% if @organized_trips.size == 0 %>
                                <p class="profile-section-results text-center"> El usuario ha organizado <text class="profile-section-results-red"> <%= @organized_trips.size %> </text>viajes</p>
                            <% else %>
                                <p class="profile-section-results text-center"> El usuario ha organizado <text class="profile-section-results-green"> <%= @organized_trips.size %> </text>viajes</p>
                            <% end %>
                        <% end %>

                        <% if @organized_trips.size != 0 %>

                            <table class="profile-section-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Organizados</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @organized_trips.each do |trip| %>
                                        <tr>
                                            <td>
                                                <% if trip.image_url %>
                                                    <%= image_tag("#{trip.image_url}") %>
                                                <% elsif trip.image %>
                                                    <%= image_tag(trip.image) %>
                                                <% else %>
                                                    <%= image_tag("local/user.jpeg") %>
                                                <% end %>
                                            </td>

                                            <td>
                                                <%=link_to trip, class:"result-info-user" do%>
                                                    <%=trip.title%>
                                                <% end %>
                                            </td>

                                            <td>
                                                <% trip.rating.round().times do  %>
                                                    <i class="fas fa-star"></i>
                                                <% end %>

                                                <% (5 - trip.rating.round()).times do %>
                                                    <i class="far fa-star"></i>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>

<!-- Funciones javascript -->

<script type="text/javascript">

    document.getElementById('trips').style.display = 'none';
    document.getElementById('organizedtrips').style.display = 'none';

    /////////////////////////////////////////////
    // Change dynamic info and styles
    /////////////////////////////////////////////

    function show_friends(){
        if(document.getElementById('friends').style.display == 'none'){
            document.getElementById('friends').style.display = 'block';
            document.getElementById('trips').style.display = 'none';
            document.getElementById('organizedtrips').style.display = 'none';
            document.getElementById('tripsnav').style.color = '#000';
            document.getElementById('tripsbtn').style.backgroundColor = '#eeeded';
            document.getElementById('organizedtripsnav').style.color = '#000';
            document.getElementById('organizedtripsbtn').style.backgroundColor = '#eeeded';
            document.getElementById('friendsnav').style.color = '#fff';
            document.getElementById('friendsbtn').style.backgroundColor = '#6e9bd5';
        }
    }

    function show_trips(){
        if(document.getElementById('trips').style.display == 'none'){
            document.getElementById('trips').style.display = 'block';
            document.getElementById('friends').style.display = 'none';
            document.getElementById('organizedtrips').style.display = 'none';
            document.getElementById('friendsnav').style.color = '#000';
            document.getElementById('friendsbtn').style.backgroundColor = '#eeeded';
            document.getElementById('organizedtripsnav').style.color = '#000';
            document.getElementById('organizedtripsbtn').style.backgroundColor = '#eeeded';
            document.getElementById('tripsnav').style.color = '#fff';
            document.getElementById('tripsbtn').style.backgroundColor = '#6e9bd5';
        }
    }

    function show_organized_trips(){
        if(document.getElementById('organizedtrips').style.display == 'none'){
            document.getElementById('organizedtrips').style.display = 'block';
            document.getElementById('friends').style.display = 'none';
            document.getElementById('trips').style.display = 'none';
            document.getElementById('friendsnav').style.color = '#000';
            document.getElementById('friendsbtn').style.backgroundColor = '#eeeded';
            document.getElementById('tripsnav').style.color = '#000';
            document.getElementById('tripsbtn').style.backgroundColor = '#eeeded';
            document.getElementById('organizedtripsnav').style.color = '#fff';
            document.getElementById('organizedtripsbtn').style.backgroundColor = '#6e9bd5';
        }
    }


</script>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>