<%= render "layouts/header" %>

<div class="main-profile">
    <div class="main-profile-container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-user-container">
                    <% if @user.image %>
                        <%= image_tag @user.image, class:"profile-img-center" %>
                    <% else %>
                        <%= image_tag "local/user.jpeg", class:"profile-img-center" %>
                    <% end %>
                    
                    <div class="profile-info">
                        <%= @user.name %> <%= @user.surname %>
                    </div>

                    <div class="profile-description">
                        <p> Soy programador y me gusta viajar </p>
                    </div>
                    

                    <% if @user.id == current_user.id %>
                        <div class="profile-edit-btn text-center profile-img-center">
                            <%= link_to "Editar perfil", edit_user_registration_path(@user), class:"profile-edit-btn-link" %>
                        </div>
                    <% end %>
                </div>

                
                <div class="profile-contact-container">
                    <p class="profile-contact-title">Contacto</p>
                    <hr>
                    <div class="profile-contact">
                        <p><%= image_tag "local/telephone.png", class: "profile-contact-icon" %><b>Teléfono:</b> 916543245</p>
                        <p><%= image_tag "local/envelope.png", class: "profile-contact-icon" %><b>Correo:</b> <%= @user.email %></p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="profile-sections-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item profile-selected-option-btn" id="friendsbtn">
                            <p onclick="show_friends()", id="friendsnav", class="profile-btn-text">Amigos</p>
                        </li>
                        <li class="nav-item profile-option-btn" id="tripsbtn">
                            <p onclick="show_trips()", id="tripsnav", class="profile-btn-text">Viajes</p>
                        </li>
                    </ul>

                    <div id="friends" class="profile-section">
                        <p class="profile-section-results text-center"> Sección de Amigos </p>
                    </div>

                    <div id="trips" class="profile-section">
                        <% if @user.trips.size == 0 %>
                            <p class="profile-section-results text-center"> El usuario ha realizado <text class="profile-section-results-red"> <%= @user.trips.size %> </text>viajes</p>
                        <% else %>
                            <p class="profile-section-results text-center"> El usuario ha realizado <text class="profile-section-results-green"> <%= @user.trips.size %> </text>viajes</p>

                            <table class="profile-section-table">
                                <thead>
                                    <tr>
                                        <th>Viaje</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @user.trips.each do |trip| %>
                                        <tr>
                                            <td>
                                                <% if trip.image_url %>
                                                    <%= image_tag("#{trip.image_url}") %>
                                                <% elsif trip.image %>
                                                    <%= image_tag(trip.image) %> <%= trip.title %>
                                                <% else %>
                                                    <%= image_tag("local/user.jpeg") %> <%= trip.title %>
                                                <% end %>
                                            </td>

                                            <td>
                                              <div class="row justify-content-center">
                                                <div class="col-4">
                                                  Opción 1
                                                </div>

                                                <div class="col-4">
                                                  Opción 2
                                                </div>
                                              </div>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>

<!-- Funciones javascript -->

<script type="text/javascript">

    document.getElementById('trips').style.display = 'none';

    /////////////////////////////////////////////
    // Change dynamic info and styles
    /////////////////////////////////////////////

    function show_friends(){
        if(document.getElementById('friends').style.display == 'none'){
            document.getElementById('friends').style.display = 'block';
            document.getElementById('trips').style.display = 'none';
            document.getElementById('tripsnav').style.color = '#000';
            document.getElementById('tripsbtn').style.backgroundColor = '#eeeded';
            document.getElementById('friendsnav').style.color = '#fff';
            document.getElementById('friendsbtn').style.backgroundColor = '#6e9bd5';
        }
    }

    function show_trips(){
        if(document.getElementById('trips').style.display == 'none'){
            document.getElementById('trips').style.display = 'block';
            document.getElementById('friends').style.display = 'none';
            document.getElementById('friendsnav').style.color = '#000';
            document.getElementById('friendsbtn').style.backgroundColor = '#eeeded';
            document.getElementById('tripsnav').style.color = '#fff';
            document.getElementById('tripsbtn').style.backgroundColor = '#6e9bd5';
        }
    }


</script>

<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "main" %>
<% end %>